{% extends 'interface/interface-closed.html.twig' %}

{% block siteLogo %}<img src="{{ asset('build/images/logo-wide.svg') }}" alt="logo" width="190" height="47">{% endblock %}
{% block subTitle %} {% endblock %}

{% block body %}
<style>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
<div class="page-logged ">
        
        
        {% set context = "contact" %}
        {% include 'interface/declaration/partial/header_declaration.html.twig'%}
    
        


		<div class="introduction-ouvert container debug coordinate ">
                		<div class="contained"><br><br>Votre message a bien été envoyé.</div>
    
            </div>
    	</div>        
</div>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('logged') }}
    {{ encore_entry_link_tags('declaration') }}
{% endblock %}
