{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user %}
        Homepage
    {% else %}
        Login
    {% endif %}
{% endblock %}

{% block pageTitle %}
    {% if app.user %}
        Bienvenue sur l'interface de déclaration des éléments de facturation du CFC
    {% else %}
        BIENVENUE SUR VOTRE ESPACE CFC
    {% endif %}
{% endblock %}

{% block body %}
    {% if not app.user %}
        {{ include('default/login.html.twig') }}
    {% else %}
        {{ include('interface/logged.html.twig') }}
    {% endif %}
{% endblock %}