{% block login %}
    <div class="row">
        <div class="page-login">
            <div class="description">
                CE DISPOSITIF S'ADRESSE AUX <strong>ÉTABLISSEMENTS</strong> ET AUX
                <strong>ORGANISATIONS</strong> AYANT REÇU DES CODES D'ACCÈS DE
                LA PART DU CFC
            </div>
            <div class="form-login">
                <div class="info-img">
                    <img src="{{ asset('build/images/info-icon.svg') }}" alt="info">
                </div>
                <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                    <div class="login-field">
                        <img src="{{ asset('build/images/person-icon.svg') }}" alt="person">
                        <div class="form-group">
                            <input placeholder="Identifiant*" value="{{ last_username }}" required name="_username" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="login-field">
                        <img src="{{ asset('build/images/pass-icon.svg') }}" alt="password">
                        <div class="form-group">
                            <input placeholder="Mot de passe*" required name="_password" type="password" class="form-control">
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="form-group">
                        <button type="submit" class="btn btn-success">Valider</button>
                    </div>
                </form>
                <div class="password-forgot">
                    <a href="{{ path('forgot_password') }}">
                        Vous avez oublié vos codes d'accès ?
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('login') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('login') }}
{% endblock %}
