{% if admin.isGranted('VIEW', object) and admin.hasRoute('wlistdeclar') %}
<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('wlistdeclar', object) }}" title="{{ 'Voir les déclarations'|trans({}, 'default') }}" alt="{{ 'Voir les déclarations'|trans({}, 'default') }}"><i class="fa file-alt"></i>Déclarations</a>
{% endif %}