{% if admin.isGranted('VIEW', object) and admin.hasRoute('declar') or admin.hasRoute('admin.wcocon|admin.wcontrat.declar')   %}
<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('declar', object) }}" title="{{ 'Voir la déclaration'|trans({}, 'default') }}" alt="{{ 'Voir la déclaration'|trans({}, 'default') }}"><i class="fa file-alt"></i>Déclaration</a>
{% endif %}
