{% if admin.isGranted('VIEW', object) and admin.hasRoute('cocon') %}
<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('cocon', object) }}" title="{{ 'Voir les co-contractants'|trans({}, 'default') }}" alt="{{ 'Voir les co-contractants'|trans({}, 'default') }}"><i class="fa fa-users"></i> Co-Contractants</a>
{% endif %}