{% if admin.isGranted('VIEW', object) and admin.hasRoute('wlistcontrat') %}
<a class="btn btn-sm btn-default" href="{{ admin.generateObjectUrl('wlistcontrat', object) }}" title="{{ 'Voir les contrats'|trans({}, 'default') }}" alt="{{ 'Voir les contrats'|trans({}, 'default') }}"><i class="fa fa-users"></i> Contrats en cours</a>
{% endif %}
