{% extends base_template %}

{% block title %}
    {{ 'title_show'|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }}
{% endblock %}

{% block navbar_title %}
    {{ 'title_show'|trans({'%name%': admin.toString(object)|truncate(100) }, 'SonataAdminBundle') }}
{% endblock %}

{%- block actions -%}
    {% include '@SonataAdmin/CRUD/action_buttons.html.twig' %}
{%- endblock -%}

{% block tab_menu %}
    {{ knp_menu_render(admin.sidemenu(action), {
        'currentClass' : 'active',
        'template': get_global_template('tab_menu_template')
    }, 'twig') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	<linksss href="/css/pdf.css" rel="stylesheet">
    {{ encore_entry_link_tags('logged') }}
    {{ encore_entry_link_tags('declaration') }}
    {{ encore_entry_link_tags('validation') }}
{% endblock %}

{% block show %}
<style>
.page-logged .introduction-ouvert .label{
	color : #000;
}
.page-logged .introduction-ouvert, .page-logged .introduction-ouvert .row.label span{
	background-color: #ecf0f5;
}
.page-logged .subtitle, .page-logged .subtitle .txt-cyan-bold{
	padding-left: unset;
	color: #000;
	
}
.page-logged .subtitle::after {
	background: #000;
}
.page-logged .introduction-ouvert > *, .label{
	padding-left: 0;
}
.pr-2{
	padding-right: 5px !important;
}
</style>
 

    <div class="sonata-ba-view page-logged">

        {{ sonata_block_render_event('sonata.admin.show.top', { 'admin': admin, 'object': object }) }}

        {% set declar_conf = admin.get_declar_conf(object) %}
        
        {% set contrats = declar_conf['contrats'] %}
        {% set declaration_conf = declar_conf['declaration_conf'] %}
        {% set primary_declaration = declar_conf['primary_declaration'] %}
        {% set db_data_conf = declar_conf['db_data_conf'] %}
        
        {% set context = "admin" %}
        
        
        <div class="introduction-ouvert container debug validation">
        
        
        {% include 'interface/declaration/partial/header_declaration.html.twig'%}
        <br>
        {% include 'interface/declaration/partial/form_validation.html.twig'%}

        </div>

    </div>
{% endblock %}
