{% extends 'base.html.twig' %}

{% block siteLogo %}
    <img src="{{ asset('build/images/logo-wide.svg') }}" alt="logo" width="190" height="47">
{% endblock %}
{% block subTitle %} {% endblock %}

{% block body %}
    <style> 
.debug .red{border: solid 1px red}
.debug .blue{border: solid 1px blue}
.debug .green{border: solid 1px green}
.debug .yellow{border: solid 1px yellow}
 
.coordinate .nopadding, .declaration .nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.coordinate .nomargin, .declaration .nomargin {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.coordinate input, .coordinate select {
    display: table-cell;
   /* width: 100%;*/
}

.declaration input, .declaration select {
    max-width: 100px;
}
    
.coordinate input[type=radio],
.coordinate input.radio {
      width: auto;
    }
    
.declaration .font-weight-bold,
.declaration .title.font-weight-bold,
.declaration .sub-title.font-weight-bold 
     {
	font-family: 'Montserrat Bold';
}

.declaration .font-weight-light, .declaration .font-weight-normal{
	font-family: 'Montserrat';
}
.declaration .title, .declaration .label, .declaration .label-desc, .declaration .sub-title,
.coordinate .title, .coordinate .label, .coordinate .label-desc, .coordinate .sub-title,
.declaration .label-description, .declaration .label-description, .declaration .label-prefix,
.coordinate .label-description, .coordinate .label-description, .coordinate .label-prefix
{
	text-transform: uppercase;

}



</style>
<div class="page-logged declaration">
    
    {% set context = "declaration" %}
    {% include 'interface/declaration/partial/header_declaration.html.twig'%}
    
    {% include 'interface/declaration/partial/breadcrumb.html.twig'%}
    
    <div class="introduction-ouvert container debug declaration">
        {% include 'interface/declaration/partial/aide.html.twig'%}
        <div class="form-title contained">Effectuer votre déclaration<p>
            {{ conf[0].getWconfTypcont().getLabelInterface()|replace({'%wde_annee%':  conf[0].wde_annee})|replace({'%wde_numperiod%':  conf[0].wde_numperiod})|replace({'%wde_dossier%':  conf[0].wde_dossier})|replace({'%wde_contrat%':  conf[0].wde_contrat}) }}
        </div>
        <div class="form-notice contained">* CHAMPS OBLIGATOIRES</div>
            {% include 'interface/declaration/partial/form.html.twig'%}
    </div>
                   	                       			
</div>
</div>

{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('logged') }}
    {{ encore_entry_link_tags('declaration') }}
{% endblock %}