{% extends 'base.html.twig' %}

{% block siteLogo %}
    <img src="{{ asset('build/images/logo-wide.svg') }}" alt="logo" width="190" height="47">
{% endblock %}

{% block body %}
<div class="page-logged">
    {% set context = "modification" %}
    {% include 'interface/declaration/partial/header_declaration.html.twig'%}

        
    <div class="success-message">
        <p><strong>LA MISE À JOUR DE VOS COORDONNÉES A BIEN &Eacute;T&Eacute; PRISE EN COMPTE</strong></p>
        
        <p></p>
        
        <p></p>

    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('logged') }}
    {{ encore_entry_link_tags('declaration') }}
{% endblock %}