<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% block stylesheets %}
        {{ encore_entry_link_tags('pdf_declar') }}
    {% endblock %}

    <style>
    {{bootstrap_css|raw}}
	</style>
	<style>

</style>
</head>
<body>

<br>
{% set pdf_image_title = "/" ~  ROOT_DIR ~ '/public' ~ asset('build/images/title-separator-pdf.svg') %}

<htmlpageheader name="header">
    <div class="row" class="head">
    <div class="col col-md-2" style="width: 15%;"><img src="/{{ ROOT_DIR }}/public{{ asset('build/images/logo-delef-pdf.svg') }}" alt="Logo" width="94" height="94"></div>
    <div class="col col-md-10 text-left head-text" style="width: 85%">
                <div class="title">DÉCLARATION EN LIGNE ANNÉE {{ primary_declaration.getWdelefs()[0].getWdfAnnee() }}</div>
                <div class="sub-title"><strong>{{ wcocon.wcoRaisoc1 }}</strong>  {{wcocon.wcoRaisoc2 }}  -
                <strong>Client n° :</strong> {{ wcocon.getWcoDossier }} <br>
                <strong>Contrat(s) n° :</strong>  {{ contrats|join(', ') }} </div>
    </div>
</htmlpageheader>

    {% set context = "pdf" %}
    {%   include 'interface/declaration/partial/form_validation.html.twig' %}

    <htmlpagefooter name="footer">
    
        <table width="100%" class="footer-content" style="vertical-align: bottom;">
            <tr>
                <td width="10%" ><span style="font-style: italic;">{DATE j-m-Y}</span></td>
                <td width="80%" align="center" style=""> © CENTRE FRANÇAIS D'EXPLOITATION DU DROIT DE COPIE (CFC) 2020 - www.cfcopies.com</td>
                <td width="10%" style="text-align: right; ">{PAGENO}/{nbpg}</td>
            </tr>
        </table>

    </htmlpagefooter>

</body>
</html>
