{% extends 'base.html.twig' %}

{% block siteLogo %}
    <img src="{{ asset('build/images/logo-wide.svg') }}" alt="logo" width="190" height="47">
{% endblock %}
{% block subTitle %} {% endblock %}

{% block body %}
<div class="page-logged">
    {% set context ="declaration" %}
    {% include 'interface/declaration/partial/header_declaration.html.twig'%}

    {% include 'interface/declaration/partial/breadcrumb.html.twig' %}
        
    <div class="success-message">
        {{ wtype.validationConfirmMessage|raw }}
    </div>
</div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('logged') }}
    {{ encore_entry_link_tags('declaration') }}
{% endblock %}