{% extends 'interface/logged.html.twig' %}

{% block pageTitle %}Bienvenue sur votre espace cfc{% endblock %}

{% block content %}


{% if contrats_chained['chaine']|length %}
    {% set wde_annee=contrats_chained['chaine'][0].label_annee %}
{% else %}
    {% set wde_annee=contrats_chained['independant'][0].label_annee %}
{% endif %}


{% set opened_main_declar=0 %}
{% set has_declartion_open=0 %}
 {% for chained in contrats_chained['chaine'] %}
        {% if chained.etape=="declaration" and chained.wde_etat_declar in ['N','V','A'] %}
            {% set opened_main_declar=1 %}
            {% set has_declartion_open=1 %}
        {% endif %}
  {% endfor %}

{% for chained in contrats_chained['independant'] %}
    {% if chained.etape=="declaration" and chained.wde_etat_declar in ['N','V','A'] %}
            {% set has_declartion_open=1 %}
        {% endif %}
{% endfor %}
{#
 {% if has_declartion_open %}
<div class="introduction-ouvert">
	
	
	
  
  {% if opened_main_declar %}
  	<div class="txt-black-bold text-uppercase text-center" >Effectuer ma déclaration <span class="txt-blue-bold">{{ wde_annee }}</span></div>
    <div class="btn-black">
        <a href ="{{ path('declaration') }}"> Pour les {{ wtype.getLabelInterface() }}</a>
    </div>
  {% endif %}                    
    

    
    {% for independant in contrats_chained['independant'] %}
        {% if independant.wde_etat_declar in ['F','P','W'] %}
        	 <div class="btn-black">
                 <div>Effectuer ma déclaration pour les {{ independant.wtype.getLabelInterface() }} : {{ independant.label_annee }}</div>
            </div>
            <div style="font-size: 12px;line-height: 13px;"> Pour les {{ independant.wtype.getLabelInterface() }} : {{ independant.label_annee }}</div>
         {% endif %}
         {% if independant.wde_etat_declar in ['N','V'] %}
                     
         <div class="btn-black">
                <a href ="{{ path('declaration-independant', {'wtype_id': independant.wtype.id}) }}"> Pour les {{ independant.wtype.getLabelInterface() }} : {{ independant.label_annee }}</a>
            </div>
         {% endif %}
    {% endfor %}    
	
	
	
</div>
{% endif %}

#}



<div class="intro">
    {{ wtype.proformatIntro|raw }}
</div>




<div class="validation-box">
        {% for bdc in BDC_list %}
        <form name="form" method="post">
        	{% if bdc.type_object=="chorus_pro" %}
				<div class="txt-white-bold text-left" >CONTRAT N° <span class="txt-cyan-bold">{{ bdc.wde_contrat }}</span> - {{ bdc.label_annee }}</div>
				<div class="txt-white text-left" style="font-family: 'Montserrat';">{{ bdc.label_interface|replace({'%wde_annee%':  bdc.label_annee}) }}</div>
              {% if bdc.wde_etat_declar=="P" %}
                	<br>
                	<div>
                		<label for="form_invoice" class="required">N° de bon de commande / engagement</label>
                		<input type="text" id="form_invoice" name="bdc[{{ bdc.wde_declar }}]" value='{{ bdc.wde_order_number }}'/>
                	</div>
                	 <div><button type="submit" id="form_submit" name="form[submit]">Valider</button></div>
            	{% else %}
                	<div class="validation-box-success">
                        <div class="confirmation-success">
                            {{ wtype.proformatConfirmation|raw }}
                        </div> 
                    </div>
            	{% endif %}
            {% else %}
                {% for wppl in bdc['wde_order_number'] %}
                
                	<div class="txt-white-bold text-left" >CONTRAT N° <span class="txt-cyan-bold">{{ bdc.wde_contrat }}</span> - {{ bdc.label_annee }}</div>
                	<div class="txt-white text-left" style="font-family: 'Montserrat';">{{ bdc.label_interface|replace({'%wde_annee%':  bdc.label_annee}) }} / Panorama n° {{ wppl.wppl_index }} {% if wppl.wppl_label|length %} : {{ wppl.wppl_label }} {% endif %}</div>
            		<br>
                    <div>
                		<label for="form_invoice" class="required">N° de bon de commande / engagement</label>
                		<input type="text" id="form_invoice" name="panorama[{{ bdc.wde_declar }}][{{ wppl.wppl_id }}]"  value='{{ wppl.wppl_order_number }}'/>
                	</div>
                	<br>
                {% endfor %}
                 <div><button type="submit" id="form_submit" name="form[submit]">Valider</button></div>
            {% endif %}
           
            </form>
            {% if not loop.last %} <div class="dotted-line"></div> {% endif %}

    		
        {% endfor %}
    
    
    



 {% if has_declartion_open %}
 
   {% if opened_main_declar %}
    <div class="btn-black">
        <a href ="{{ path('declaration') }}">Effectuer ma déclaration pour les {{ wtype.getLabelInterface()|replace({'%wde_annee%':  contrats_chained['chaine'][0].label_annee})  }}</a>
    </div>
  {% endif %}                    

  {% for independant in contrats_chained['independant'] %}
         {% if  independant.etape=="declaration" and independant.wde_etat_declar in ['N','V'] %}
         <div class="btn-black">
                <a href ="{{ path('declaration-independant', {'wtype_id': independant.wtype.id}) }}"> Effectuer ma déclaration pour les pour les {{ independant.wtype.getLabelInterface()|replace({'%wde_annee%':  independant.label_annee})|replace({'%wde_numperiod%':  independant.wde_numperiod}) }} {% if independant.label_annee|length %} : {{ independant.label_annee}}{% endif %}</a>
            </div>
         {% endif %}
    {% endfor %}    
 
 {% endif %}
<br>

</div>

{% endblock %}


