{% extends 'base.html.twig' %}

{% block pageTitle %}
        BIENVENUE SUR VOTRE ESPACE CFC
{% endblock %}

{% block body %}
    <div class="row">
        <div class="page-login">
            <div class="description">CODES D'ACCÈS OUBLIÉS</div>
            <div class="">MERCI DE COMPLÉTER CE FORMULAIRE</div>
            <div class="form-password-forgot">
                <div class="form-notice">*CHAMPS OBLIGATOIRES</div>
                {{ form_start(form) }}
                    <div class="my-custom-class-for-errors">
                        {{ form_errors(form) }}
                    </div>
                
                    <div class="row">
                        <div class="col input-select-wrapper">
                            {{ form_row(form.type_etablissement) }}
                        </div>
                    
                        <div class="col">
                            {{ form_row(form.nom_etablissement) }}
                        </div>
                        <div class="col input-multirow" >
                            {{ form_row(form.adresse_1) }}
                        </div>
                        <div class="col input-multirow" >
                            {{ form_row(form.adresse_2) }}
                        </div>
                        <div class="col input-multirow" >
                            {{ form_row(form.adresse_3) }}
                        </div>
                        <div class="col half-width left">
                            {{ form_row(form.code_postal) }}
                        </div>
                        <div class="col half-width right">
                            {{ form_row(form.ville) }}
                        </div>
                        <div class="col" >
                            {{ form_row(form.email) }}
                        </div>
                        
                        <div class="col" >
                            {{ form_row(form.submit) }}
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('forgot') }}
{% endblock %}