{% extends 'base.html.twig' %}

{% block pageTitle %}
        BIENVENUE SUR VOTRE ESPACE CFC
{% endblock %}

{% block body %}
    <div class="sucess-message">
        <div>Codes d'accès oubliés</div>
        <div>Votre demande a bien été prise en compte.
            Nous vous répondrons dans les meilleurs délais.</div>
    </div>
{% endblock %}