<style>
/* montserrat regular */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Regular.46a837b2.eot);
  /* IE9 Compat Modes */
  src: local("Montserrat-Regular"), local("Montserrat-Regular"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Regular.46a837b2.eot) format("embedded-opentype"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Regular.de057035.woff2) format("woff2"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Regular.955268b5.woff) format("woff"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Regular.9c460951.ttf) format("truetype"), url(https://espace-client.cfcopies.com/build/images/Montserrat-Regular.c31c8604.svg) format("svg");
  /* Legacy iOS */
}

/* montserrat light */
@font-face {
  font-family: 'Montserrat Light';
  font-style: normal;
  font-weight: 300;
  src: url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Light.6a0930ef.eot);
  /* IE9 Compat Modes */
  src: local("Montserrat-Light"), local("Montserrat-Light"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Light.6a0930ef.eot) format("embedded-opentype"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Light.24c96222.woff2) format("woff2"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Light.bec6f749.woff) format("woff"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Light.100b38fa.ttf) format("truetype"), url(https://espace-client.cfcopies.com/build/images/Montserrat-Light.bb61e972.svg) format("svg");
  /* Legacy iOS */
}

/* montserrat Medium */
@font-face {
  font-family: 'Montserrat Medium';
  font-style: normal;
  font-weight: 500;
  src: url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Medium.673156cb.eot);
  /* IE9 Compat Modes */
  src: local("Montserrat-Medium"), local("Montserrat-Medium"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Medium.673156cb.eot) format("embedded-opentype"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Medium.9dd71f8b.woff2) format("woff2"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Medium.ac64ba21.woff) format("woff"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Medium.a98626e1.ttf) format("truetype"), url(https://espace-client.cfcopies.com/build/images/Montserrat-Medium.b2bc4d21.svg) format("svg");
  /* Legacy iOS */
}

/* montserrat SemiBold */
@font-face {
  font-family: 'Montserrat SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url(https://espace-client.cfcopies.com/build/fonts/Montserrat-SemiBold.488356f2.eot);
  /* IE9 Compat Modes */
  src: local("Montserrat-SemiBold"), local("Montserrat-SemiBold"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-SemiBold.488356f2.eot) format("embedded-opentype"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-SemiBold.f11d49bd.woff2) format("woff2"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-SemiBold.dcc239ac.woff) format("woff"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-SemiBold.c88cecbf.ttf) format("truetype"), url(https://espace-client.cfcopies.com/build/images/Montserrat-SemiBold.14a1b26d.svg) format("svg");
  /* Legacy iOS */
}

/* montserrat Bold */
@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  font-weight: 700;
  src: url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Bold.12af6986.eot);
  /* IE9 Compat Modes */
  src: local("Montserrat-Bold"), local("Montserrat-Bold"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Bold.12af6986.eot) format("embedded-opentype"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Bold.217d78c1.woff2) format("woff2"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Bold.5e9b5ddc.woff) format("woff"), url(https://espace-client.cfcopies.com/build/fonts/Montserrat-Bold.88932dad.ttf) format("truetype"), url(https://espace-client.cfcopies.com/build/images/Montserrat-Bold.df36fce4.svg) format("svg");
  /* Legacy iOS */
}

/* GothamNarrow-Medium */
@font-face {
  font-family: 'GothamNarrow-Medium';
  font-style: normal;
  font-weight: 500;
  src: url(https://espace-client.cfcopies.com/build/fonts/GothamNarrow-Medium.6ec7179a.woff);
  /* IE9 Compat Modes */
  src: local("GothamNarrow-Medium"), local("GothamNarrow-Medium"), url(https://espace-client.cfcopies.com/build/fonts/GothamNarrow-Medium.00123c15.eot) format("embedded-opentype"), url(https://espace-client.cfcopies.com/build/fonts/GothamNarrow-Medium.525b0de8.woff2) format("woff2"), url(https://espace-client.cfcopies.com/build/fonts/GothamNarrow-Medium.6ec7179a.woff) format("woff"), url(https://espace-client.cfcopies.com/build/images/GothamNarrow-Medium.522f60f7.svg) format("svg");
  /* Legacy iOS */
}


</style>

Bonjour,<br>
Vous venez d'effectuer la déclaration des éléments de facturation pour le calcul de la redevance.<br>
Le Centre Français d'exploitation du droit de Copie vous en remercie. <br><br>
Voici le récapitulatif de votre déclaration :<br>

<p>Année de déclaration : <strong>{{ primary_declaration.getWdelefs()[0].getWdfAnnee() }} </strong> - Contrat(s) n° : <strong>{{ contrats|join(', ') }}</strong> - Client n° : <strong>{{ declaration_conf[0][0].wde_dossier }}</strong></p>

{% for conf in declaration_conf %}  
    {% set declaration_conf_index = loop.index - 1 %}
    {%  set display_bloc=true%}
        
    {% set display_bloc_reponsable=false %}
    {% if db_data_conf[declaration_conf_index]['wct_nom_resp'] is defined and db_data_conf[declaration_conf_index]['wct_nom_resp']|length %}
        {% set display_bloc_reponsable=true %}
    {% endif %}
    {% if db_data_conf[declaration_conf_index]['wct_mel_resp'] is defined and db_data_conf[declaration_conf_index]['wct_mel_resp']|length  %}
        {% set display_bloc_reponsable=true %}
    {% endif %}

    {% for i in conf %}
     	    {% set conf_index = loop.index - 1 %}
        {#define if next bloc is responsable bloc#}

         {% if loop.index == 1 and conf[conf_index].type_etape=='declaration' %}
         <br>
                	<div style="color: #006E96;font-size: 20px;line-height: 24px;font-family: 'Montserrat Bold';">{{ conf[conf_index].label_interface|replace({'%wde_annee%':  conf[0].wde_annee})|replace({'%wde_numperiod%':  conf[0].wde_numperiod})|replace({'%wde_dossier%':  conf[0].wde_dossier})|replace({'%wde_contrat%':  conf[0].wde_contrat}) }}</div>
         <br> <br>
         {% endif %}

        {% if i.typeObjet() in ["title", "title_yes_no", "subtitle"] %}
            {% if declaration_conf[declaration_conf_index][conf_index+1] is defined and declaration_conf[declaration_conf_index][conf_index+1].typeObjet() == 'civilite' and declaration_conf[declaration_conf_index][conf_index+1].synchroField()=='wde_tit_resp' and display_bloc_reponsable==false%}
            {%  set display_bloc=false%}
            {% else  %}
            {%  set display_bloc=true%}
    		{% endif %}
    		
    		{% if display_bloc %}
    		        {% if i.typeObjet() in ["title", "title_yes_no"] %}
                    <p><strong>{{ i.label()|raw}}</strong>
                    {% if i.typeObjetConf.label_description is defined %}
                            <strong>{{ i.typeObjetConf.label_description|raw }}</strong>
                        {% endif %}
                      </p>  
                      {% endif %}
                    {% if i.typeObjet()=="subtitle" %}
                    <br>
                        <strong>{{ i.label()|raw }}</strong><br>
                    {% endif %}
                    
            {% endif %}
        {% elseif  i.typeObjet() == "wcompos"%}    
        	
        	{% for compos in db_data_conf[declaration_conf_index].wcompos %}   
        	    	{% if i.typeObjetConf.wcompos_label_intitule is defined %}{{ i.typeObjetConf.wcompos_label_intitule|escape }}{% else %}Intitulé de la composante{% endif %} : {{ compos.wcp_libelle|escape }}<br>
        	    	{% if i.typeObjetConf.wcompos_label_effectif is defined %}{{ i.typeObjetConf.wcompos_label_effectif|escape }}{% else %}Effectif{% endif %} :  {{ compos.wcp_effectif|escape }}<br><br>
            {% endfor %}
     
     
        {% elseif  i.typeObjet() == "wcompos_stages"%}   
            {% for compos in db_data_conf[declaration_conf_index].wcompos %}
                Intitulé du stage : {{ compos.wcp_libelle|escape }}<br>
                Nombre de stagiaires : {{ compos.wcp_effectif|escape }}<br>
                Nombre d'heures stagiaires : {{ compos.wcp_heures|escape }}<br><br>

            {% endfor %}

        {% elseif  i.typeObjet() == "bon_commande"%} 
        	Un bon de commande / engagement doit-il figurer sur la facture ?
        	{% if db_data_conf[declaration_conf_index]['wde_is_order_number'] is defined %}
                {% if db_data_conf[declaration_conf_index]['wde_is_order_number'] =="1" %}Oui{% endif %}
                {% if db_data_conf[declaration_conf_index]['wde_is_order_number'] =="0" %}Non{% endif %}
            {% endif %}<br>
            N° de bon de commande / Engagement:{{ db_data_conf[declaration_conf_index]['wde_order_number'] }}<br>
        {% elseif  i.typeObjet() == "chorus_pro"%}   
            Souhaitez-vous recevoir votre facture via chorus pro ? : 
            {% if db_data_conf[declaration_conf_index]['wde_is_chorus_pro'] is defined %}
                {% if db_data_conf[declaration_conf_index]['wde_is_chorus_pro'] =="1" %}Oui{% endif %}
                {% if db_data_conf[declaration_conf_index]['wde_is_chorus_pro'] =="0" %}Non{% endif %}
            {% endif %}<br>
    		N° de siret/ridet : {{ db_data_conf[declaration_conf_index]['wde_siret'] }}<br>
    		Code service : {{ db_data_conf[declaration_conf_index]['wde_service_code'] }}<br>
    		Un bon de commande / engagement doit-il figurer sur la facture ?
    		{% if db_data_conf[declaration_conf_index]['wde_is_order_number'] is defined %}
                {% if db_data_conf[declaration_conf_index]['wde_is_order_number'] =="1" %}Oui{% endif %}
                {% if db_data_conf[declaration_conf_index]['wde_is_order_number'] =="0" %}Non{% endif %}
            {% endif %}<br>
    		N° de bon de commande / Engagement:{{ db_data_conf[declaration_conf_index]['wde_order_number'] }}<br>
    		
        {% elseif  i.typeObjet() == "chorus_pro_extended"%}       		
    			Souhaitez-vous recevoir votre facture via chorus pro ? {% if db_data_conf[declaration_conf_index]['wde_is_chorus_pro'] =="1" %}Oui{% else %}Non{% endif %}<br>
        		N° de siret/ridet : {{ db_data_conf[declaration_conf_index]['wde_siret'] }}<br>
        		Code service : {{ db_data_conf[declaration_conf_index]['wde_service_code'] }}<br>
        		Un bon de commande / engagement doit-il figurer sur la facture ? 
        		{% if db_data_conf[declaration_conf_index]['wde_is_order_number'] is defined %}
                    {% if db_data_conf[declaration_conf_index]['wde_is_order_number'] =="1" %}Oui{% endif %}
                    {% if db_data_conf[declaration_conf_index]['wde_is_order_number'] =="0" %}Non{% endif %}
                {% endif %}<br>
    			N° de bon de commande / engagement : {{ db_data_conf[declaration_conf_index]['wde_order_number'] }} <br> <br>
        			
    	{% elseif  i.typeObjet() == "panorama_press_numerique"%}	
    	    {% if db_data_conf[declaration_conf_index]['panorama_press']['wpanoramapress_liste']|length %}
        		<p><strong>Vo(s) panorama(s) de presse</strong><p>
        	    {% for panorama in db_data_conf[declaration_conf_index]['panorama_press']['wpanoramapress_liste'] %}
    			{% set panorama_index = loop.index - 1 %}
    			<strong>Panorama de presse :  {% if panorama['wppl_label']|length ==0 %}Panorama de presse {{ panorama_index  }} {%else%}{{ panorama['wppl_label'] }}{% endif %}</strong><br>
    			Periodicité : {{ panorama['wppl_periode'] }}<br>
    			Nombre de postes destinataires du panorama : {{ panorama['wppl_total'] }}<br>
        			{% if panorama['wpanoramapress_liste_publication']|length %}
            			{% for publications in panorama['wpanoramapress_liste_publication'] %}
            				- Publication : {{ publications['wpplp_label'] }} ( {{ publications['wpplp_total'] }} articles utilisés )<br>
            			{% endfor %}
        			{% endif %}
        			{% if panorama['wppl_fichier']|length %}
        				Fichier chargé : {{ panorama['wppl_fichier_name'] }}<br>
        			{% endif %}
        			<br>

    			
    			{% endfor %}
    	    {% endif %}
    	    
    	    
    	{% elseif  i.typeObjet() == "panorama_press_papier"%}	
    	    {% if db_data_conf[declaration_conf_index]['panorama_press']['wpanoramapress_liste']|length %}
        		<p><strong>Vo(s) panorama(s) de presse</strong><p>
        	    {% for panorama in db_data_conf[declaration_conf_index]['panorama_press']['wpanoramapress_liste'] %}
    			{% set panorama_index = loop.index - 1 %}
    			<strong>Panorama de press :  {{ panorama['wppl_label'] }}</strong><br>
    			Periodicité : {{ panorama['wppl_periode'] }}<br>
    			Nombre de numéros du panorama sur la période : {{ panorama['wppl_periode_nombre'] }}<br>
    			Nombre moyen de pages de reproductions par numéro : {{ panorama['wppl_moyenne_repro'] }}<br>    			
    			Nombre moyen d'exemplaires par numéro : {{ panorama['wppl_moyenne_exemplaire'] }}<br>  
    			 {% set num_publication_total = 0 %}
                 {% for publications in panorama['wpanoramapress_liste_publication'] %}
                     {% set num_publication_total = num_publication_total +  publications['wpplp_total'] %}
                 {% endfor %}  			
    			Nombre total de pages sur la période : {{ num_publication_total }}<br>    			
        			{% if panorama['wpanoramapress_liste_publication']|length %}
            			{% for publications in panorama['wpanoramapress_liste_publication'] %}
            				- Publication : {{ publications['wpplp_label'] }} ( {{ publications['wpplp_total'] }} page(s) copié(s) )<br>
            			{% endfor %}
        			{% endif %}
        			{% if panorama['wppl_fichier']|length %}
        				Fichier chargé : {{ panorama['wppl_fichier_name'] }}<br>
        			{% endif %}
        			<br>
        			
        			Souhaitez-vous recevoir votre facture via chorus pro ? {% if panorama['wppl_is_chorus_pro'] =="1" %}Oui{% else %}Non{% endif %}<br>
        			N° de siret/ridet : {{ panorama['wppl_siret'] }}<br>
        			Code service : {{ panorama['wppl_service_code'] }}<br>
        			Un bon de commande / engagement doit-il figurer sur la facture ? {% if panorama['wppl_is_chorus_pro'] =="1" %}Oui{% else %}Non{% endif %}<br>
    			    N° de bon de commande / engagement : {{ panorama['wppl_order_number'] }} <br> <br>
        			
    			
    			{% endfor %}
    	    {% endif %}    	
        {% elseif  i.typeObjet() == "abo_press_livres"%}
        
            {% set abo_titre=0 %}
            {% set abo_site=0 %}
            {% set abo_livre=0 %}
            
            {% for items in db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_publications'] %}
                {% if items['wabopType']=='titre' %}{% set abo_titre=abo_titre+1 %}{% endif %}
                {% if items['wabopType']=='site' %}{% set abo_site=abo_titre+1 %}{% endif %}
                {% if items['wabopType']=='livre' %}{% set abo_livre=abo_titre+1 %}{% endif %}
            {% endfor %}
        
            {% if abo_titre or  abo_site %}
               <p><b>Presse</b><p/>
            {% endif %}
            
            
              {% if abo_titre  %}
                 TITRES DE PRESSE<br>
            
                 {% for titre in db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_publications'] %}
                    {% if titre['wabopType']=='titre' %}
                    - {{ titre['wabopTitre'] }} <br>
                     NOMBRE D’ABONNEMENTS : {{ titre['wabopNombre'] }}<br><br>
                     
                     {% endif %}
                 {% endfor %}
            {% endif %}                                                	
            {% if abo_site%}
                 SITES DE PRESSE<br>
                 {% for titre in db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_publications'] %}
                    {% if titre['wabopType']=='site' %}
                    -{{ titre['wabopTitre'] }}<br>
                    NOMBRE D’ABONNEMENTS : {{ titre['wabopNombre'] }}<br><br>
                     {% endif %}
                 {% endfor %}
            {% endif %}  
            
            
            {% if abo_livre %}
            
            <p><b>Livres</b></p>
                {% for titre in db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_publications'] %}
                    {% if titre['wabopType']=='livre' %}
                    - TITRE LIVRE : {{ titre['wabopTitre'] }}<br>
                    NOMBRE D’ACHATS : {{ titre['wabopNombre'] }}<br>
                    AUTEUR : </span>{{ titre['wabopAuteur'] }}<br>
                    EDITEUR : </span>{{ titre['wabopEditeur'] }}<br><br>
                   
                  	{% endif %}
                    {% endfor %}
            
            {% endif  %}
            
            
            {% if db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_fichier']|length %}
    		 Fichier chargé : {{ db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_fichier_name'] }}<br><br>
    	    {% endif  %}
        
        {% elseif  i.typeObjet() == "abo_press"%}
        
            {% set abo_titre=0 %}
            {% set abo_site=0 %}
            {% set abo_livre=0 %}
            
            {% for items in db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_publications'] %}
                {% if items['wabopType']=='titre' %}{% set abo_titre=abo_titre+1 %}{% endif %}
                {% if items['wabopType']=='site' %}{% set abo_site=abo_titre+1 %}{% endif %}
                {% if items['wabopType']=='livre' %}{% set abo_livre=abo_titre+1 %}{% endif %}
            {% endfor %}
        
            {% if abo_titre or  abo_site %}
               <p><b>Presse</b><p/>
            {% endif %}
            
            
              {% if abo_titre  %}
                 TITRES DE PRESSE<br>
            
                 {% for titre in db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_publications'] %}
                    {% if titre['wabopType']=='titre' %}
                    - {{ titre['wabopTitre'] }}<br>
                    NOMBRE D’ABONNEMENTS : {{ titre['wabopNombre'] }}<br><br>
                     {% endif %}
                 {% endfor %}
            {% endif %}                                                	
            {% if abo_site%}
                 SITES DE PRESSE<br>
                 {% for titre in db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_publications'] %}
                    {% if titre['wabopType']=='site' %}
                    -{{ titre['wabopTitre'] }}<br>
                    NOMBRE D’ABONNEMENTS : {{ titre['wabopNombre'] }}<br><br>
                     {% endif %}
                 {% endfor %}
            {% endif %}  

            {% if db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_fichier']|length %}
    		 Fichier chargé : {{ db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_fichier_name'] }}<br>
    	    {% endif  %}        
                     
        {% elseif  i.typeObjet() == "file_upload"%}			
    
             {% set file_params=db_data_conf[declaration_conf_index]['file_upload'][i.getSynchroField()] %}
         	Fichier chargé : {% if db_data_conf[declaration_conf_index] %}{{ file_params['file_upload_fichier_name'] }}{% endif %}<br>
        
        {% elseif  i.typeObjet() == "prestataire_veille_media"%}
            Avez-vous un prestataire de veille media ? {% if db_data_conf[declaration_conf_index]['wprestataire']['wpresta_prestataire'] =="1" %}Oui, lequel : {{ db_data_conf[declaration_conf_index]['wprestataire']['wpresta_prestataire_label'] }}
                {% if  db_data_conf[declaration_conf_index]['wprestataire']['wpresta_prestataire_label2'] |length%}, {{ db_data_conf[declaration_conf_index]['wprestataire']['wpresta_prestataire_label2'] }}{% endif %}  
        {% else %}Non{% endif %}<br>
            {% elseif  i.typeObjet() == "accordion_options"%}
                {% if db_data_conf[declaration_conf_index][i.typeObjetConf.accordion_synchro_field_1] > 0 %}
                      <p><b>{{ i.label()|raw}}</b></p>
                    {{ i.typeObjetConf.accordion_value_label|raw|replace({"*": ""})|raw }} : {{ db_data_conf[declaration_conf_index][i.typeObjetConf.accordion_synchro_field_1]|raw }}<br>
                    {{ i.typeObjetConf.accordion_option_title|raw|replace({"*": ""})|raw }} : {% if db_data_conf[declaration_conf_index][i.typeObjetConf.accordion_synchro_field_2] == 1 %}{{ i.typeObjetConf.accordion_option1_label|raw }}{% else %}{{ i.typeObjetConf.accordion_option2_label|raw }}{% endif %}<br>
                {% endif %}
        {% elseif  i.typeObjet() == "relation_publique"%}
             {% for rp in db_data_conf[declaration_conf_index]['relation_publique'] %}
            	 {% set rp_index = loop.index - 1 %}
                 <p><b>CLIENT  {{ rp_index +1 }} : {{ rp['wrp_label'] }}</b></p>
                 Adresse : {{ rp['wrp_adresse'] }}<br>
                 Code postal : {{ rp['wrp_cp'] }}<br>
                 Ville : {{ rp['wrp_ville'] }}<br>
                 Volume d'articles fourni : {{ rp['wrp_volume'] }}<br>
            {% endfor %}  
            
        {% elseif  i.typeObjet() == "copie_ext_web_reseau"%}
        
             {% for copie_ext in db_data_conf[declaration_conf_index]['wcpextw'] %}
                 {% if  copie_ext['wcpextPublication'] | length >0 %}
                     <br><b>TITRE DE LA PUBLICATION DONT EST ISSU L'ARTICLE : {{ copie_ext['wcpextPublication'] }}</b><br>
                     TITRE DE L'ARTICLE : {{ copie_ext['wcpextTitre'] }}<br>
                     AUTEUR(S) DE L'ARTICLE : {{ copie_ext['wcpextAuteur'] }}<br>
                     DATE DE PARUTION DE L'ARTICLE : {{ copie_ext['wcpextParution'] }}<br>
                     DATE DE MISE EN LIGNE DE LA COPIE DE L'ARTICLE : {{ copie_ext['wcpextDateMel'] }}<br>
                     {% for copie_ext_sites in copie_ext['wcpextMel'] %}
                     - {{ copie_ext_sites['wcpextmelMel'] }}<br>
                     {% endfor %}
                     <br>
                 {% endif %}
            {% endfor %}  
        {% elseif  i.typeObjet() == "copie_ext_cible"%}
             {% for copie_ext in db_data_conf[declaration_conf_index]['wcpextc'] %}
             		{% if  copie_ext['wcpextPublication'] | length >0 %}
                         <br><b>TITRE DE LA PUBLICATION DONT EST ISSU L'ARTICLE : {{ copie_ext['wcpextPublication'] }}</b><br>
                         TITRE DE L'ARTICLE : {{ copie_ext['wcpextTitre'] }}<br>
                         AUTEUR(S) DE L'ARTICLE : {{ copie_ext['wcpextAuteur'] }}<br>
                         DATE DE PARUTION DE L'ARTICLE : {{ copie_ext['wcpextParution'] }}<br>
                         NOMBRE DE DESTINATAIRE DE VEILLE MEDIA : {{ copie_ext['wcpextDestinataires'] }}<br>
                 	{% endif %}
            {% endfor %}  
        {% elseif  i.typeObjet() == "cma_btp"%}
             {% for rp in db_data_conf[declaration_conf_index]['cma_btp'] %}
                 <p><b>{% if i.typeObjetConf.cma_btp_label is defined %}{{ i.typeObjetConf.cma_btp_label }}{% else %}SITE{% endif %} : {{ rp['wrp_label'] }}</b></p>
                 Adresse : {{ rp['wrp_adresse'] }}<br>
                 Téléphone : {{ rp['wrp_telephone'] }}<br>
                 Email : {{ rp['wrp_email'] }}<br>
            {% endfor %}             
        {% elseif i.typeObjet()== 'rgpd' %}

		<br> 
            {% if db_data_conf[declaration_conf_index][i.synchroField()]==1 %}
        		{{ i.typeObjetConf.rgpd_text_oui }} <br> 
            {% else %}
        		{{ i.typeObjetConf.rgpd_text_non }} <br> 
            {% endif %}
    
 			<br>       
       {% elseif  i.typeObjet() == "radio"%}     
               {%if i.labelVisible == true %}{{ i.label()|raw|striptags }} : {% endif %}
               {% set field_value='list_value_'~db_data_conf[declaration_conf_index][i.synchroField()] %}
               {% set val = i.typeObjetConf[field_value]|split('|') %}     
               {{ val[1]|raw }}<br><br>            
        {% elseif  i.typeObjet() == "line_separator"%}
            {# nothing #}
            <br>
            
        {% elseif  i.typeObjet() == "list"%} 
            {% set field_val=db_data_conf[declaration_conf_index][i.synchroField()] %}
    
            {% if i.typeObjetConf.list_value_1 is defined %}
                {% set val = i.typeObjetConf.list_value_1|split('|') %}
                {% if val[0]==field_val %}{{ val[1] }}{% endif %}
            {% endif %}
            
            {% if i.typeObjetConf.list_value_2 is defined %}
                {% set val = i.typeObjetConf.list_value_2|split('|') %}
                {% if val[0]==field_val %}{{ val[1] }}{% endif %}
            {% endif %}
            
            {% if i.typeObjetConf.list_value_3 is defined %}
                {% set val = i.typeObjetConf.list_value_3|split('|') %}
                {% if val[0]==field_val %}{{ val[1] }}{% endif %}
            {% endif %}
            
            {% if i.typeObjetConf.list_value_4 is defined %}
                {% set val = i.typeObjetConf.list_value_4|split('|') %}
                {% if val[0]==field_val %}{{ val[1] }}{% endif %}
            {% endif %}
            
            {% if i.typeObjetConf.list_value_5 is defined %}
                {% set val = i.typeObjetConf.list_value_5|split('|') %}
                {% if val[0]==field_val %}{{ val[1] }}{% endif %}
            {% endif %}
            
            {% if i.typeObjetConf.list_value_6 is defined %}
                {% set val = i.typeObjetConf.list_value_6|split('|') %}
                {% if val[0]==field_val %}{{ val[1] }}{% endif %}
            {% endif %}
            
            {% if i.typeObjetConf.list_value_7 is defined %}
                {% set val = i.typeObjetConf.list_value_7|split('|') %}
                {% if val[0]==field_val %}{{ val[1] }}{% endif %}
            {% endif %}
            
            {% if i.typeObjetConf.list_value_8 is defined %}
                {% set val = i.typeObjetConf.list_value_8|split('|') %}
                {% if val[0]==field_val %}{{ val[1] }}{% endif %}
            {% endif %}
            
            {% if i.typeObjetConf.list_value_9 is defined %}
                {% set val = i.typeObjetConf.list_value_9|split('|') %}
                {% if val[0]==field_val %}{{ val[1] }}{% endif %}
            {% endif %}
            
            {% if i.typeObjetConf.list_value_10 is defined %}
                {% set val = i.typeObjetConf.list_value_10|split('|') %}
                {% if val[0]==field_val %}{{ val[1] }}{% endif %}
            {% endif %}    
        {% else %}
        

        {% if display_bloc %}
            {%if i.labelVisible == true %}{{ i.label()|raw|striptags }} : {% endif %}
            {% if db_data_conf[declaration_conf_index][i.synchroField()] is defined %}
        	    {{ db_data_conf[declaration_conf_index][i.synchroField()] }}
        	   
            {% else %}
        
            {% endif %}
            {%if i.labelVisible == true or db_data_conf[declaration_conf_index][i.synchroField()] is defined and db_data_conf[declaration_conf_index][i.synchroField()]|length%}
             <br>
            {% endif %}
        {% endif %}
        	
        {% endif %}
 	    
    {% endfor %}
{% endfor %}                        
 	    

<br>
<br>
Nous vous remercions de ne pas effectuer de règlement avant d'avoir reçu la facture.<br>
Merci de ne pas répondre par le biais de cette adresse.<br>
<br>
Cordialement,
<br>
{{ signature }} <br>

