<p>Bonjour, </p>
<p>Ceci est une demande de mots de passe oubli&eacute;s.&#13; </p>
<p>Les informations saisies sont les suivantes : </p>
<p><strong>Nom de l&rsquo;&eacute;tablissement</strong> : {{ data.nom_etablissement }}</strong></p>
<p><strong>Adresse</strong> : {% if data.adresse_1|length %}{{ data.adresse_1 }}<br>{% endif %}
{% if data.adresse_2|length %}{{ data.adresse_2 }}<br>{% endif %}
{% if data.adresse_3|length %}{{ data.adresse_3 }}<br>{% endif %}
<strong>Code postal</strong> :  {{ data.code_postal }}<br>
<strong>Ville</strong> : {{ data.ville }}<br>
<strong>Email</strong> : {{ data.email }}<br>
</p>