<p>
<strong>- Client</strong> : {{ wdeclar.getWdeDossier().getWcoDossier() }} <br>
<strong>- n° contrat</strong> : {{ wdeclar.getWdeContrat() }}<br>
<strong>- Type de contrat</strong> : {{ type_contrat }}<br>
<strong>- Année</strong> : {{ wdeclar.getWdeAnnee() }}<br>
{% if wdeclar.getWdeIntituleDecl()|length %}
<strong>- Période</strong> : {{  wdeclar.getWdeIntituleDecl() }}<br>
{% endif %}
{% if panoramas is defined %}
	{% for indx,pano in panoramas %}
	
		<strong>- Panorama {{ loop.index }} {{ BDC_panorama_info[indx] }} </strong> : {{ pano }}<br>
    {% endfor %}
{% endif %}
{% if bdc is defined %}
<strong>- Bon de commande</strong> : {{ bdc }}<br>
{% endif %}
</p>