<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}CFC - Extranet{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        
        <link href="/css/bootstrap-4.3.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/bootstrap-4.3.1/css/jquery-ui.css" rel="stylesheet">
        <link href="/js/intl-tel-input/src/css/build_css_intlTelInput.css" rel="stylesheet">
        <link href="/css/fontawesome/css/all.min.css" rel="stylesheet">
        
        
        
        {{ encore_entry_link_tags('main') }}
        {% block stylesheets %}{% endblock %}
        <script src="/css/bootstrap-4.3.1/js/jquery.min.js"></script>
        
        
    </head>
    <body>
        <header>
            <section class="header-nav">
                {% block headerNav %}
                    <div class="container">
                        {% if app.request.attributes.get('_route') not in ['index'] %}<a href="{{ COCON_SERVER_ADDRESS }}" class="menu-item">Accueil</a>{% endif %}
                        {% if app.user %}<a href="{{ path('security_logout') }}" class="logout">Déconnexion</a>{% endif %}
                        {% if not app.user %}<a href="{{ path('index') }}" class="logout">Connexion</a>{% endif %}
                    </div>
                {% endblock %}
            </section>
            <section class="header">
                <div class="container">
                    <div class="logo-title">
                        <a href="http://cfcopies.com" target="_blank">
                            {% block siteLogo %}<img src="{{ asset('build/images/logo-delef.svg') }}" alt="logo" width="130" height="130">{% endblock %}
                        </a> 
                        <h1 class="title">{% block pageTitle %}{% endblock %}</h1>
                       {% block pagesubTitle %}{% endblock %}
                    </div>
                </div>
            </section>
        </header>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <footer>
            <div class="inner">© CENTRE FRANÇAIS D'EXPLOITATION DU DROIT DE COPIE (CFC) 2020 - <a href="http://www.cfcopies.com/mentions-legales" target="_Blank" class="mention-legales">MENTIONS LÉGALES</a></div>
        </footer>

        <script src="/css/bootstrap-4.3.1/js/jquery-ui.min.js"></script>
        <script src="/css/bootstrap-4.3.1/js/popper.min.js"></script>
        <script src="/css/bootstrap-4.3.1/js/bootstrap.min.js"></script>

        
        
        <script src="/js/tooltip.js"></script>
        
        <script src="/js/jquery.autocomplete.js"></script>
        <script src="/js/declaration.js"></script>
        <script src="/js/declaration-composante-stage.js"></script>
        <script src="/js/declaration-chorus-pro.js"></script>
        <script src="/js/declaration-chorus-pro-multi.js"></script>
        <script src="/js/declaration_panorama_press_numerique.js"></script>
        <script src="/js/declaration_panorama_press_papier.js"></script>
        <script src="/js/declaration_copie_ext_web_reseaux.js"></script>
        <script src="/js/declaration_copie_ext_cible.js"></script>
        
        <script src="/js/declaration-aide.js"></script>
        <script src="/js/jquery-editable-select.js"></script>
        <script src="/js/declaration-contact.js"></script>
        <script src="/js/declaration-adresses.js"></script>
        <script src="/js/declaration-abo_press_livres.js"></script>
        <script src="/js/declaration-abo_press.js"></script>
        <script src="/js/declaration-file-upload.js"></script>
        <script src="/js/declaration-accordion_options.js"></script>
        <script src="/js/declaration-relation_publique.js"></script>
		<script src="/js/declaration-cma_btp.js"></script>

        <script src="/js/tooltip.js"></script>
        <script src="/js/intl-tel-input/src/js/build_js_intlTelInput.js"></script>

        
            {% block javascripts %}{% endblock %}
        
        <script type="text/javascript">
            $(function () {
                window.history.replaceState(null, null, window.location.pathname);
            })
        </script>
    </body>
</html>
