{% extends 'base.html.twig' %}

{% block pageTitle %}Bienvenue sur votre espace cfc{% endblock %}

{% block body %}

<div class="sucess-message">
        <h1>Page non trouvée.</h1>
        <div><br>
        Il semblerait que la page que vous cherchiez n’existe plus.<br><br>

		<a href="/">> Retourner à la page d’accueil</a>.<br></div>
    </div>
    
   
{% endblock %}




{% block stylesheets %}
    {{ encore_entry_link_tags('forgot') }}
{% endblock %}