{% if conf[0].type_etape=="declaration" and conf[0].wconfTypcont().declarationAide()|length > 0  and conf[0].wconfTypcont().declarationAide()|length >0%}
<div id="aide" class="aide">
    <div class="toggler">AIDE</div>
    <div id="aide-accordion" class="content d-none">
    {% for subjet, content in conf[0].wconfTypcont().declarationAide() %}
    {% set help_index = loop.index %}
    
        <div class="item">
            <div class="item-label" data-toggle="collapse" data-target="#collapse-{{ help_index }}">{{ subjet|raw }}</div>
            <div id="collapse-{{ help_index }}" class="item-value collapse show" data-parent="#aide-accordion">
                <p>
                 {% if conf[0].annee_declar|length == 4 %}
                    {{ content|raw|replace({'[activation_date]': conf[0].getWconfTypcont().getActivationCivile() })|raw }}
                {% else %}
                    {{ content|raw|replace({'[activation_date]':conf[0].getWconfTypcont().getActivationScolaire() })|raw }}
                {% endif %}
                
                </p>
            </div>
        </div>
     {% endfor %}
    </div>
</div>
{% endif %}