   {#}
   {% if  db_data['wde_order_number']|length%}
   	    {% set chorus_has_order=1 %}
   	{% else %}
   	    {% set chorus_has_order=0 %}
   {% endif %}
    #}
    {% set chorus_pro_multi_data={ 'wppl_is_chorus_pro':db_data['wde_is_chorus_pro'], 'wppl_siret':db_data['wde_siret'], 'wppl_service_code':db_data['wde_service_code'], 'wppl_order_number':db_data['wde_order_number'], 'wppl_service_list':chorus_pro_service_list, 'wppl_has_order': db_data['wde_is_order_number'] } %}
    {% set chorus_pro_multi_index=0 %}
    {% if i.typeObjetConf.chorus_bdc_not_mandatory is defined %}
    	{% set chorus_pro_bdc_not_mandatory=i.typeObjetConf.chorus_bdc_not_mandatory %}
    {% else %}
    	{% set chorus_pro_bdc_not_mandatory=0 %}
    {% endif %}
    
    {% if i.typeObjetConf.chorus_bdc_message is defined %}
    	{% set chorus_bdc_message=i.typeObjetConf.chorus_bdc_message %}
    {% else %}
    	{% set chorus_bdc_message=false %}
    {% endif %}
    
    {% if i.typeObjetConf.chorus_siret_message is defined %}
    	{% set chorus_siret_message=i.typeObjetConf.chorus_siret_message %}
    {% else %}
    	{% set chorus_siret_message=false %}
    {% endif %}
    
    <div class="multi-index" data-index="0">
    {% include 'interface/declaration/partial/fields_chorus_pro_multi.html.twig' %}
    </div>