<style>
.page-logged .introduction-ouvert .row .col-compos-button.ico-collapse a::before{
	transform: rotate(0deg) !important;
}

.page-logged .introduction-ouvert .row .col-compos-button.ico-expend a::before{
	transform: rotate(90deg) !important;
}


</style>




{% if i.typeObjetConf.cma_btp_label_size is defined %}
    {% set cma_btp_grid_label = i.typeObjetConf.cma_btp_label_size %}
    {% set cma_btp_grid_form = 12-1.5-i.typeObjetConf.cma_btp_label_size %}
{% else %}    
    {% set cma_btp_grid_label = 1 %}
    {% set cma_btp_grid_form = 12-1.5 %}
{% endif %}



<script>
{% if i.typeObjetConf.cma_btp_label_size is defined %}
	var btn_cma_btp_add="{{i.typeObjetConf.cma_btp_emtpy_msg|escape}}"; 
	{% set cma_btp_emtpy_msg= i.typeObjetConf.cma_btp_emtpy_msg|escape %}
{%  else %}  
    {% set cma_btp_emtpy_msg="Vous devez renseigner un nom de site ou supprimer celui-ci." %}
	var btn_cma_btp_add="Vous devez renseigner un nom de site ou supprimer celui-ci.";
{% endif %}

{% if i.typeObjetConf.wcompos_label_lien_supprimer is defined %}
var wcompos_label_lien_supprimer="{{ i.typeObjetConf.wcompos_label_lien_supprimer|escape }}";
{% else %}
var wcompos_label_lien_supprimer="Supprimer";
{% endif %}

var relation_publique_line='';
relation_publique_line+='<div class="cma_btp">';
relation_publique_line+='<div class="row blue">';
relation_publique_line+=' 	<div class="col-sm-12 col-md-{{ cma_btp_grid_label|replace({'.': '-'}) }} nopadding  text-uppercase"><span class="form-col-label label-description label-panorama-press font-weight-bold" style="">{% if i.typeObjetConf.cma_btp_label is defined %}{{ i.typeObjetConf.cma_btp_label }}{% else %}SITE{% endif %}</span></div>';
relation_publique_line+=' 	<div class="col-sm-12 col-md-{{ cma_btp_grid_form|replace({'.': '-'}) }} nopadding "><input type="text" class="wrp_label field-large" placeholder="{% if i.typeObjetConf.cma_btp_label_placeholder is defined %}{{ i.typeObjetConf.cma_btp_label_placeholder }}{% else %}NOM DU SITE{% endif %}" name="wrp_label[]" value="" oninput="this.setCustomValidity(\'\')"   oninvalid="this.setCustomValidity(\'{{ cma_btp_emtpy_msg }}\')" data-original-title="{{ cma_btp_emtpy_msg }}" required></div>';
relation_publique_line+=' 	<div class="col-sm-12 col-md-1-5 nopadding ">';
relation_publique_line+=' 		<div class="col-compos-button nopadding ico-expend-collapse ico-collapse ico-expend float-left"><a href="javascript:void(0);" onclick="toggle_cma_btp(this)">X</a></div>';
relation_publique_line+=' 		<div class="col-compos-button nopadding add-panorama float-left"><a href="javascript:void(0);" onclick="add_cma_btp(this)" title="Rajouter un  site">+</a></div>';
relation_publique_line+=' 		<div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="delete_cma_btp(this)" title="'+wcompos_label_lien_supprimer+'">X</a></div>';
relation_publique_line+=' 	</div>';
relation_publique_line+=' </div>';
relation_publique_line+=' <div class="relation_publique_content">';
relation_publique_line+='		 <div class="row">';
relation_publique_line+='		 	<div class="col-sm-12 col-md-2 nopadding text-uppercase"><span class="form-col-label">Adresse</span></div>';
relation_publique_line+=' 		<div class="col-sm-12 col-md-10 nopadding"><input type="text" class="wrp_adresse field-large"name="wrp_adresse[]" value="" oninput="this.setCustomValidity(\'\')" required="required"></div>';
relation_publique_line+='		 </div>';
relation_publique_line+='		 <div class="row">';
relation_publique_line+='		 	<div class="col-sm-12 col-md-2 nopadding text-uppercase"><span class="form-col-label">Telephone</span></div>';
relation_publique_line+=' 		<div class="col-sm-12 col-md-4 nopadding"><input autocomplete="nofill" class="wrp_telephone field-large" class="intl-tel-input" type="tel" placeholder="ex : 06 01 02 03 04" minlength="9"	pattern=".{9,}"  oninvalid="this.setCustomValidity(\'Merci de saisir un numéro de téléphone valide\')" title="Merci de saisir un numéro de téléphone valide"  name="wrp_telephone[]" value="" required="required" oninput="this.setCustomValidity(\'\')"></div>';
relation_publique_line+='		 	<div class="col-sm-12 col-md-1-5 nopadding text-uppercase text-center"><span class="form-col-label" style="">Email</span></div>';
relation_publique_line+=' 		<div class="col-sm-12 col-md-4-5 nopadding"><input autocomplete="nofill" class="wrp_email field-large" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,6}$" oninvalid="this.setCustomValidity(\'Merci de saisir une adresse mail valide\')" title="Merci de saisir une adresse mail valide"   name="wrp_email[]" value="" oninput="this.setCustomValidity(\'\')" required="required"></div>';
relation_publique_line+='		 </div>';
relation_publique_line+='	</div>';
relation_publique_line+='	<div class="dotted-line contained"></div>';
relation_publique_line+='</div>';




jQuery(document).ready(function() {

    $( "#form_submit" ).click(function() {
    	$('.error').html("");
    	if($('input:invalid, select:invalid').length)
    	{
    		if($('input:invalid, select:invalid').eq(0).closest('.cma_btp').find('.cma_btp_content').is(":hidden")){
    			
    			$('input:invalid, select:invalid').eq(0).closest('.cma_btp').find('.ico-expend-collapse a')[0].scrollIntoView(); 
    			$('input:invalid, select:invalid').eq(0).closest('.cma_btp').find('.ico-expend-collapse a').trigger('click');
    			$('input:invalid, select:invalid').eq(0).focus();
   			 	setTimeout(function(){ $( "#form_submit" ).trigger('click'); }, 800);
    			
    		}
    
    	}
    });
});

</script>

<div id="container_cma_btp" class="contained">
    {% for rp in db_data['cma_btp'] %}
    {% set rp_index = loop.index - 1 %}
    {% set random_group_id = random(0, 99999) %}
    <div class="cma_btp">
       <div class="row blue">
        	<div class="col-sm-12 col-md-{{ cma_btp_grid_label|replace({'.': '-'}) }} nopadding  text-uppercase"><span class="form-col-label label-description label-panorama-press font-weight-bold" style="">{% if i.typeObjetConf.cma_btp_label is defined %}{{ i.typeObjetConf.cma_btp_label }}{% else %}SITE{% endif %}</span></div>
        	<div class="col-sm-12 col-md-{{ cma_btp_grid_form|replace({'.': '-'}) }} nopadding "><input type="text" class="wrp_label field-large" placeholder="{% if i.typeObjetConf.cma_btp_label_placeholder is defined %}{{ i.typeObjetConf.cma_btp_label_placeholder }}{% else %}NOM DU SITE{% endif %}" name="wrp_label[]" value="{{ rp['wrp_label'] }}" oninput="this.setCustomValidity('')" oninvalid="this.setCustomValidity(\'{{ cma_btp_emtpy_msg }}\')" data-original-title="{{ cma_btp_emtpy_msg }}" required="required" ></div>
        	<div class="col-sm-12 col-md-1-5 nopadding ">
        		<div class="col-compos-button nopadding ico-expend-collapse ico-collapse ico-expend float-left"><a href="javascript:void(0);" onclick="toggle_cma_btp(this)">X</a></div>
        		        		<div class="col-compos-button nopadding add-panorama float-left"><a href="javascript:void(0);" onclick="add_cma_btp(this)" title="Rajouter un site">+</a></div>
        		<div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="delete_cma_btp(this)" 
        		
        		{% if i.typeObjetConf.wcompos_label_lien_supprimer is defined %}
                title="{{ i.typeObjetConf.wcompos_label_lien_supprimer|escape }}"
                {% else %}
                title="Supprimer";
                {% endif %}
        		>X</a></div>

        	</div>
        </div>
        
        <div class="cma_btp_content">
			 <div class="row">
			 	<div class="col-sm-12 col-md-2 nopadding text-uppercase"><span class="form-col-label">Adresse</span></div>
        		<div class="col-sm-12 col-md-10 nopadding"><input type="text" class="wrp_adresse field-large"name="wrp_adresse[]" value="{{ rp['wrp_adresse'] }}" oninput="this.setCustomValidity('')" required="required"></div>
			 </div>
			 <div class="row">
			 	<div class="col-sm-12 col-md-2 nopadding text-uppercase"><span class="form-col-label">Telephone</span></div>
        		<div class="col-sm-12 col-md-4 nopadding"><input autocomplete="nofill" class="wrp_telephone field-large" type="tel" class="intl-tel-input" placeholder="ex : 06 01 02 03 04"  oninvalid="this.setCustomValidity('Merci de saisir un numéro de téléphone valide')" title="Merci de saisir un numéro de téléphone valide" name="wrp_telephone[]" value="{{ rp['wrp_telephone'] }}" required="required" minlength="9"	pattern=".{9,}" value="03 21 60 40 00"  oninput="this.setCustomValidity('')"></div>
			 	<div class="col-sm-12 col-md-1-5 nopadding text-uppercase text-center"><span class="form-col-label" style="">Email</span></div>
        		<div class="col-sm-12 col-md-4-5 nopadding"><input  autocomplete="nofill" class="wrp_email field-large" type="email" pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$" oninvalid="this.setCustomValidity('Merci de saisir une adresse mail valide')" title="Merci de saisir une adresse mail valide"  name="wrp_email[]" value="{{ rp['wrp_email'] }}" oninput="this.setCustomValidity('')" required="required"></div>
			 </div>
		</div>
		<div class="dotted-line contained"></div>
		
    </div>
    
    {% endfor %}
</div>
<div class="contained">
	<ul class="cma_btp_error" style="font-weight: bold; color: red" id=""></ul>
</div>
<div class="contained">
		<div class="col-sm-12 col-md-12   text-uppercase text-right font-weight-bold " style="height: 70px;">
			<a class="button_add_delete float-right " href="javascript:void(0);" style="display: flex;" onclick="add_first_cma_btp()">{% if i.typeObjetConf.cma_btp_label_size is defined %}{{i.typeObjetConf.cma_btp_btn_label}}{% else %}{{i.typeObjetConf.cma_btp_btn_label}}{% endif %}</a>&nbsp;&nbsp;
		
		</div>
</div>
