<style>
#chorus_pro_bdc:required, #chorus_pro_service:required, #chorus_pro_siret:required {
  /**border: 1px solid red;
  outline: none;*/
}

input[name=wde_is_chorus_pro]{
    width: 13px;
    margin-right: 7px;
    vertical-align: middle;
	margin-left: 15px;
}

</style>
<div class="row contained blue">
	<div class="col-sm-12 col-md-7 nopadding  text-uppercase" style="">
		<span class="form-col-label  label-description" style="">Souhaitez-vous recevoir votre facture via chorus pro ?</span>
	</div>
	<div class="col-sm-12 col-md-5 nopadding">
		<div class="text-uppercase float-left">
			<input type="radio" name="wde_is_chorus_pro" id="wde_is_chorus_pro_oui" {% if form.children['wde_is_chorus_pro'].vars.value =="1" %}checked="checked"{% endif %} value="1" required="required"><label for="wde_is_chorus_pro_oui">oui</label>
		</div>
		<div class="text-uppercase float-left">
			<input type="radio" name="wde_is_chorus_pro" id="wde_is_chorus_pro_non" {% if form.children['wde_is_chorus_pro'].vars.value =="0" %}checked="checked"{% endif %} value="0" required="required"><label for="wde_is_chorus_pro_non">non</label>
		</div>
	</div>
	<ul class="error" style="font-weight: bold; color: red" id="err-wde_tit_resp"></ul>
</div>


<div class="row contained blue chorus_pro_bloc">
	<div class="col-sm-12 col-md-3 nopadding  text-uppercase" style=""><span class="label-description">N° de siret/ridet</span></div>
	<div class="form-col-fields col-sm-12 col-md-9 nopadding">   
	<input type="text" name="wde_siret"  pattern="^[0-9]{9}$|^[0-9]{14}$"  id="chorus_pro_siret" maxlength="14" value="{{ form.children['wde_siret'].vars.value }}" oninvalid="this.setCustomValidity('Merci de saisir votre numéro de SIRET ou de RIDET')"  oninput="this.setCustomValidity('')">     
        
     </div>
</div>

<div class="row contained blue chorus_pro_bloc">
	<div class="form-col-label  col-sm-12 col-md-3 nopadding  text-uppercase" style=""><span class="label-description">Code service</span></div>
	<div class="form-col-fields col-sm-12 col-md-9 nopadding">


        <select name="wde_service_code" id="chorus_pro_service" oninvalid="this.setCustomValidity('Merci de renseigner le code service.')"  oninput="this.setCustomValidity('')" >
       	
       {% for chorus_pro_item in chorus_pro_service_list %}

       		<option  value="{{ chorus_pro_item.service_code }}"
       		{% if   chorus_pro_item.service_code == form.children['wde_service_code'].vars.value %}
       		    {% set  chorus_pro_item_service_code=true %}
       		    selected="selected"
       		{% endif %}
       		data-service="{{ chorus_pro_item.service_code }}"
       		data-service-gestion-egmt="{{ chorus_pro_item.service_gestion_Egmt }}"
       		data-gestion-engagement="{{ chorus_pro_item.gestion_engagement }}"
       		data-gestion-service="{{ chorus_pro_item.gestion_service }}"
       		data-gestion-service-engagement="{{ chorus_pro_item.gestion_service_engagement }}" >{{ chorus_pro_item.service_code }} ({{ chorus_pro_item.service_nom }})</option>
       {% endfor %}
            {% if chorus_pro_item_service_code is not defined  %}
            
       		<option  value="{{ form.children['wde_service_code'].vars.value }}" selected="selected">{{ form.children['wde_service_code'].vars.value }}</option>
       		{% endif %}
        </select>
     </div>
</div>
{% if form.children['wde_service_code'].vars.value is defined  %}
       <input type="hidden" value="{{ form.children['wde_service_code'].vars.value }}" id="wde_service_code" >		
{% endif %}
{% if i.typeObjetConf.chorus_bdc_not_mandatory is defined %}
    {% set chorus_bdc_not_mandatory=1 %}
{% else %}
    {% set chorus_bdc_not_mandatory=0 %}
{% endif %}

    		
<div class="row contained blue chorus_pro_bloc">
	<div class="form-col-label  col-sm-12 col-md-5 nopadding  text-uppercase" style=""><span class="label-description">N° de bon de commande / Engagement</span></div>
	<div class="form-col-fields col-sm-12 col-md-7 nopadding"><input type="text" data-chorus-pro-bdc-not-mandatory="{{ chorus_bdc_not_mandatory }}" name="wde_order_number" value="{{ form.children['wde_order_number'].vars.value }}" id="chorus_pro_bdc" maxlength="50" value="" class=""         
	oninvalid="this.setCustomValidity('Merci de renseigner le n° bon de commande ou le n° d\'engagement.')"
    oninput="this.setCustomValidity('')"></div>
	<ul class="error" style="font-weight: bold; color: red" id="err-wco_nom_legal"></ul>
</div>