{% if  i.typeObjet() == "wcompos"%}   

        <div class="row nopadding compos-line bottom-line wcompos contained">
            <div class="col-sm-12 col-md-8 col-compos-title form-col-label nopadding">{% if i.typeObjetConf.wcompos_label_intitule is defined %}{{ i.typeObjetConf.wcompos_label_intitule|escape }}{% else %}INTUTILÉ DE LA COMPOSANTE{% endif %}</div>
            <div class="col-sm-12 col-md-4 col-compos-num form-col-label nopadding">{% if i.typeObjetConf.wcompos_label_effectif is defined %}{{ i.typeObjetConf.wcompos_label_effectif|escape }}{% else %}EFFECTIF{% endif %}</div>
        </div>
    {% for compos in db_data_conf[declaration_conf_index].wcompos %}   
        <div class="row nopadding compos-line bottom-line wcompos contained">
            <div class="col-sm-12 col-md-8 col-compos-title-field nopadding form-col-fields">{{ compos.wcp_libelle|escape }}</div>
            <div class="col-sm-12 col-md-4 col-compos-num-field nopadding form-col-fields">{{ compos.wcp_effectif|escape }}</div>
        </div>
     {% endfor %}
     
    {% if context=="admin" %}
     <div class="row blue ">
    	<div class="col-sm-12 col-md-1 text-uppercase"></div>
    	<div class="col-sm-12 col-md-10 text-uppercase text-center"><a href="{{ path('declaration_admin_composantes_download', {'wde_declar': i.wde_declar})}}">Télécharger les composantes</a></div>
    	<div class="col-sm-12 col-md-1 text-uppercase"></div>
	</div>
    {% endif %}
     
{% elseif  i.typeObjet() == "wcompos_stages"%}   

{% for compos in db_data_conf[declaration_conf_index].wcompos %}
<div class="row contained compos-line bottom-line wcompos-stages">
    <div class="col-sm-12 col-md-12 nopadding">
      <div class="row nopadding">
    		<div class="col-sm-12 col-md-intitule-stage nopadding form-col-label text-left">INTITULÉ DU STAGE</div>
    		<div class="col-sm-12 col-md-intitule-stage-field nopadding text-left compos-title-field form-col-fields">{{ compos.wcp_libelle|escape }}</div>
    	</div>
    	<div class="row nopadding">
    		<div class="col-sm-12 col-md-stagiaire nopadding form-col-label text-left">NOMBRE DE STAGIAIRES</div>
    		<div class="col-sm-12 col-md-stagiaire-field nopadding text-left compos-stagiaire-field form-col-fields">{{ compos.wcp_effectif|escape }}</div>
    		<div class="col-sm-12 col-md-heures nopadding form-col-label text-left">NOMBRE D'HEURES STAGIAIRES</div>
    		<div class="col-sm-12 col-md-heures-field nopadding text-left compos-heures-field form-col-fields">{{ compos.wcp_heures|escape }}</div>
    	</div>
    </div>
</div>
{% endfor %}

    {% if context=="admin" %}
     <div class="row blue ">
    	<div class="col-sm-12 col-md-1 text-uppercase"></div>
    	<div class="col-sm-12 col-md-10 text-uppercase text-center"><a href="{{ path('declaration_admin_composantes_stages_download', {'wde_declar': i.wde_declar})}}">Télécharger les composantes stages</a></div>
    	<div class="col-sm-12 col-md-1 text-uppercase"></div>
	</div>
    {% endif %}


{% elseif  i.typeObjet() == "chorus_pro"%}   

<div class="row contained blue bottom-line chorus-pro">
	<div class="col-sm-12 col-md-7 nopadding form-col-label text-uppercase "><span class="label-description" style="">Souhaitez-vous recevoir votre facture via chorus pro ?</span></div>
	<div class="col-sm-12 col-md-5 nopadding">
		<div class="text-uppercase float-left form-col-fields">
		{% if db_data_conf[declaration_conf_index]['wde_is_chorus_pro'] is defined %}
		    {% if db_data_conf[declaration_conf_index]['wde_is_chorus_pro'] =="1" %}Oui{% endif %}
		    {% if db_data_conf[declaration_conf_index]['wde_is_chorus_pro'] =="0" %}Non{% endif %}
		{% endif %}
		</div>
	</div>
	
</div>
<div class="row contained blue chorus_pro_bloc_validation bottom-line">
	<div class="form-col-label  col-sm-12 col-md-2 nopadding  text-uppercase" style=""><span class="label-description">N° de siret/ridet</span></div>
	<div class="form-col-fields col-sm-12 col-md-10 nopadding">{{ db_data_conf[declaration_conf_index]['wde_siret'] }}</div>
</div>
<div class="row contained blue chorus_pro_bloc_validation bottom-line">
	<div class="form-col-label  col-sm-12 col-md-2 nopadding  text-uppercase" style=""><span class="label-description">Code service</span></div>
	<div class="form-col-fields col-sm-12 col-md-10 nopadding">{{ db_data_conf[declaration_conf_index]['wde_service_code'] }}</div>
</div>
<div class="row contained blue chorus_pro_bloc_validation bottom-line">
	<div class="form-col-label  col-sm-12 col-md-5 nopadding  text-uppercase" style=""><span class="label-description">N° de bon de commande / Engagement</span></div>
	<div class="form-col-fields col-sm-12 col-md-7 nopadding">{{ db_data_conf[declaration_conf_index]['wde_order_number'] }}</div>
</div>

{% elseif  i.typeObjet() == "bon_commande"%}   
<div class="row contained blue bottom-line chorus-pro">
	<div class="col-sm-12 col-md-9 nopadding form-col-label text-uppercase "><span class="label-description" style="">Un bon de commande / engagement doit-il figurer sur la facture ?</span></div>
	<div class="col-sm-12 col-md-3 nopadding">
		<div class="text-uppercase float-left form-col-fields">
		{% if db_data_conf[declaration_conf_index]['wde_is_order_number'] is defined %}
		    {% if db_data_conf[declaration_conf_index]['wde_is_order_number'] =="1" %}Oui{% endif %}
		    {% if db_data_conf[declaration_conf_index]['wde_is_order_number'] =="0" %}Non{% endif %}
		{% endif %}
		</div>
	</div>
	
</div>
{% if db_data_conf[declaration_conf_index]['wde_is_chorus_pro'] is defined and db_data_conf[declaration_conf_index]['wde_is_chorus_pro'] =="1"%}
{% endif %}
<div class="row contained blue chorus_pro_bloc_validation bottom-line">
	<div class="form-col-label  col-sm-12 col-md-5 nopadding  text-uppercase" style=""><span class="label-description">N° de bon de commande / Engagement</span></div>
	<div class="form-col-fields col-sm-12 col-md-7 nopadding">{{ db_data_conf[declaration_conf_index]['wde_order_number'] }}</div>
</div>


{% elseif  i.typeObjet() == "chorus_pro_extended"%} 

                    <div class="row contained blue bottom-line pt-3">
                    	<div class="col-sm-12 col-md-8 nopadding  text-uppercase"><span class="form-col-label  label-description" style="">Souhaitez-vous recevoir votre facture via chorus pro ?</span></div>
                    	<div class="col-sm-12 col-md-4 nopadding">{% if db_data_conf[declaration_conf_index]['wde_is_chorus_pro'] =="1" %}Oui{% else %}Non{% endif %}</div>
                    </div>
                    {% if context!="pdf" or  db_data_conf[declaration_conf_index]['wde_is_chorus_pro']=="1" %}
                    <div class="row contained blue chorus_pro_bloc_validation bottom-line">
                    	<div class="form-col-label  col-sm-12 col-md-3 nopadding  text-uppercase" style=""><span class="label-description">N° de siret/ridet</span></div>
                    	<div class="form-col-fields col-sm-12 col-md-9 nopadding">{{ db_data_conf[declaration_conf_index]['wde_siret'] }}</div>
                    </div>
                    <div class="row contained blue chorus_pro_bloc_validation bottom-line">
                    	<div class="form-col-label  col-sm-12 col-md-2 nopadding  text-uppercase" style=""><span class="label-description">Code service</span></div>
                    	<div class="form-col-fields col-sm-12 col-md-10 nopadding">{{ db_data_conf[declaration_conf_index]['wde_service_code'] }}</div>
                    </div>
					{% endif %}

                    <div class="row contained blue pt-3 bottom-line">
                    	<div class="col-sm-12 col-md-9 nopadding  text-uppercase" style=""><span class="form-col-label  label-description" style="">Un bon de commande / engagement doit-il figurer sur la facture ?</span></div>
                    	<div class="col-sm-12 col-md-2 nopadding">{% if db_data_conf[declaration_conf_index]['wde_is_order_number'] =="1" %}Oui{% else %}Non{% endif %}</div>
                    </div>
                    {% if context!="pdf" or  db_data_conf[declaration_conf_index]['wde_order_number']|length %}        			
        			<div class="row contained blue chorus_pro_bloc_validation bottom-line">
                    	<div class="form-col-label  col-sm-12 col-md-5 nopadding  text-uppercase" style=""><span class="label-description">N° de bon de commande / Engagement</span></div>
                    	<div class="form-col-fields col-sm-12 col-md-7 nopadding">{{ db_data_conf[declaration_conf_index]['wde_order_number'] }}</div>
                    </div>
                    {% endif %}
                    
{% elseif  i.typeObjet() == "panorama_press_numerique"%}

	{% if db_data_conf[declaration_conf_index]['panorama_press']['wpanoramapress_liste']|length %}
		<div class="row contained label"><span class="title text-uppercase">Vo(s) panorama(s) de presse</span>
		{% if  context == "declaration" %}
            {% if wtype_id is defined and wtype_id|length%}
            	<a href="{{ path('declaration-independant',{'step':declaration_conf_index+1, 'wtype_id':wtype_id}) }}" class="pdf-hidden"></a>
            {% else %}
            	<a href="{{ path('declaration',{'step':declaration_conf_index+1}) }}" class="pdf-hidden"></a>
            {% endif %}
		{% endif %}
		</div>
		{% for panorama in db_data_conf[declaration_conf_index]['panorama_press']['wpanoramapress_liste'] %}
			{% set panorama_index = loop.index %}
			
			    <div class="contained panorama_press_numerique ">
                    <div class="row blue bottom-line">
                    	<div class="col-sm-12 col-md-3-5 nopadding  text-uppercase"><span class="form-col-label label-description label-panorama-press font-weight-bold pdf-bold" style="">Panorama de presse {{ panorama_index  }} : </span></div>
                    	<div class="col-sm-12 col-md-8-5 nopadding  text-uppercase">{% if panorama['wppl_label']|length ==0 %}Panorama de presse {{ panorama_index  }} {%else%}{{ panorama['wppl_label'] }}{% endif %}</div>
                    </div>
                    <div class="row blue bottom-line">
                    	<div class="col-sm-12 col-md-2 nopadding  text-uppercase"><span class="form-col-label label-description" style="">Periodicité</span></div>
                    	<div class="col-sm-12 col-md-10 nopadding form-col-fields">{{ panorama['wppl_periode'] }}</div>
                    </div>
                    <div class="row blue bottom-line">
                    	<div class="col-sm-12 col-md-6-5 nopadding  text-uppercase"><span class="form-col-label label-description" style="">Nombre de postes destinataires du panorama</span></div>
                    	<div class="col-sm-12 col-md-5-5 nopadding form-col-fields">{{ panorama['wppl_total'] }}</div>
                    </div>		
        			{% if panorama['wpanoramapress_liste_publication']|length %}
					<div class="row blue">
                    	<div class="col-sm-12 col-md-12 nopadding  text-uppercase pt-3 pb-3"><span class="form-col-label label-description label-panorama-press font-weight-bold pdf-bold" style="">Publications utilisés dans ce panorama de presse</span></div>
                    </div>
                    {% for publications in panorama['wpanoramapress_liste_publication'] %}
                        {% set publication_index = loop.index %}
                        <div class="row blue col-md-8 bottom-line" style="padding-bottom: 0px;margin-bottom: 0px;">
                            <div class="row blue  {% if context=="pdf" %}bottom-line{%else%}col-md-12{% endif %}">
                            	<div class="col-sm-12 col-md-10 padding-5 form-col-fields text-left">{{ publications['wpplp_label'] }}</div>
                            	<div class="col-sm-12 col-md-2 padding-5 form-col-fields text-left">{{ publications['wpplp_total'] }}</div>
                        	</div>
                        </div>
                       
                        {% endfor %}
                         {% if context=="pdf" %}<div class="row blue col-md-12">&nbsp;</div>{% endif %}
                        {% if context=="admin" and panorama['wppl_id']>0%}
                         <div class="row blue ">
                        	<div class="col-sm-12 col-md-1 text-uppercase"></div>
                        	<div class="col-sm-12 col-md-10 text-uppercase text-center"><a href="{{ path('declaration_admin_panorama_presse_numerique_download', {'id': panorama['wppl_id']})}}">Télécharger le panorama</a></div>
                        	<div class="col-sm-12 col-md-1 text-uppercase"></div>
                    	</div>
                        {% endif %}
                        
        			{% endif  %}
        			{% if panorama['wppl_fichier']|length %}
            			<div class="row blue bottom-line">
                        	<div class="col-sm-12 col-md-2-5 text-uppercase text-left"><span class="form-col-label label-description">Fichier chargé</span></div>
                        	<div class="col-sm-12 col-md-9-5 text-left"><span class="form-col-fields label-description">
                        	{% if context=="admin" %}
                        	<a href="{{ path('declaration_admin_media_download', {'id': panorama['wppl_fichier']})}}">{{ panorama['wppl_fichier_name'] }}</a>
                        	{% else %}
                        	{{ panorama['wppl_fichier_name'] }}
                        	{% endif %}
                        	</span></div>
                        </div>
        			{% endif  %}
        			

        			<div class="dotted-line contained mt-4"></div>
        		
        		</div>
		{% endfor %}
	{% endif %}
	
{% elseif  i.typeObjet() == "panorama_press_papier"%}

	{% if db_data_conf[declaration_conf_index]['panorama_press']['wpanoramapress_liste']|length %}
		<div class="row contained label"><span class="title text-uppercase">Vo(s) panorama(s) de presse</span>
		{% if  context == "declaration" %}
		    {% if wtype_id is defined %}
            	<a href="{{ path('declaration-independant',{'step':declaration_conf_index+1, 'wtype_id':wtype_id}) }}" class="pdf-hidden"></a>
            {% else %}
            	<a href="{{ path('declaration',{'step':declaration_conf_index+1}) }}" class="pdf-hidden"></a>
            {% endif %}
		{% endif %}
		</div>
		{% for panorama in db_data_conf[declaration_conf_index]['panorama_press']['wpanoramapress_liste'] %}
			{% set panorama_index = loop.index %}
			
			    <div class="contained panorama_press_numerique ">
                    <div class="row blue bottom-line">
                    	<div class="col-sm-12 col-md-3 nopadding  text-uppercase"><span class="form-col-label label-description label-panorama-press font-weight-bold pdf-bold" style="">Panorama de presse : </span></div>
                    	<div class="col-sm-12 col-md-8-5 nopadding  text-uppercase">{{ panorama['wppl_label'] }}</div>
                    </div>
                    <div class="row blue bottom-line">
                    	<div class="col-sm-12 col-md-7 nopadding  text-uppercase"><span class="form-col-label label-description" style="">Periodicité</span></div>
                    	<div class="col-sm-12 col-md-5 nopadding form-col-fields">{{ panorama['wppl_periode'] }}</div>
                    </div>
	
                 <div class="row blue bottom-line">
                	<div class="col-sm-12 col-md-7 nopadding  text-uppercase"><span class="form-col-label label-description" style="">Nombre de numéros du panorama sur la période</span></div>
                	<div class="col-sm-12 col-md-5 nopadding  text-uppercase">{{ panorama['wppl_periode_nombre'] }}</div>
                </div>	
                        
                <div class="row blue bottom-line">
                	<div class="col-sm-12 col-md-7 nopadding  text-uppercase"><span class="form-col-label label-description" style="">Nombre moyen de pages de reproductions par numéro</span></div>
                	<div class="col-sm-12 col-md-5 nopadding  text-uppercase">{{ panorama['wppl_moyenne_repro'] }}</div>
                </div>	
    		
                <div class="row blue bottom-line">
                	<div class="col-sm-12 col-md-7 nopadding  text-uppercase"><span class="form-col-label label-description" style="">Nombre moyen d'exemplaires par numéro</span></div>
                	<div class="col-sm-12 col-md-5 nopadding  text-uppercase">{{ panorama['wppl_moyenne_exemplaire'] }}</div>
                </div>	
                 {% set num_publication_total = 0 %}
                 {% for publications in panorama['wpanoramapress_liste_publication'] %}
                     {% set num_publication_total = num_publication_total +  publications['wpplp_total'] %}
                 {% endfor %}
               <div class="row blue bottom-line">
                	<div class="col-sm-12 col-md-7 nopadding  text-uppercase"><span class="form-col-label label-description" style="">Nombre total de pages sur la période</span></div>
                	<div class="col-sm-12 col-md-5 nopadding  text-uppercase" style="max-width: 160px;">{{ num_publication_total }}</div>
                </div>	

                <div class="row blue panorama-publication-title">
                	<div class="col-sm-12 col-md-12 nopadding  text-uppercase"><span class="form-col-label label-description font-weight-bold" style="">Publications utilisés dans ce panorama de presse</span></div>
                </div>                    
                    
                    
        			{% if panorama['wpanoramapress_liste_publication']|length %}
					<div class="row blue">
                    	<div class="col-sm-12 col-md-12 nopadding  text-uppercase pt-3 pb-3"><span class="form-col-label label-description label-panorama-press font-weight-bold pdf-bold" style="">Publications utilisés dans ce panorama de presse</span></div>
                    </div>

                    {% for publications in panorama['wpanoramapress_liste_publication'] %}
                        {% set publication_index = loop.index %}
                        <div class="row blue col-md-8 bottom-line" style="padding-bottom: 0px;margin-bottom: 0px;">
                            <div class="row blue  {% if context=="pdf" %}bottom-line{%else%}col-md-12{% endif %}">
                            	<div class="col-sm-12 col-md-10 padding-5 form-col-fields text-left">{{ publications['wpplp_label'] }}</div>
                            	<div class="col-sm-12 col-md-2 padding-5 form-col-fields text-left">{{ publications['wpplp_total'] }}</div>
                        	</div>
                        </div>
                       
                        {% endfor %}
                         {% if context=="pdf" %}<div class="row blue col-md-12">&nbsp;</div>{% endif %}
                        {% if context=="admin" %}
                         <div class="row blue ">
                        	<div class="col-sm-12 col-md-1 text-uppercase"></div>
                        	<div class="col-sm-12 col-md-10 text-uppercase text-center"><a href="{{ path('declaration_admin_panorama_presse_papier_download', {'id': panorama['wppl_id']})}}">télécharger le panorama</a></div>
                        	<div class="col-sm-12 col-md-1 text-uppercase"></div>
                    	</div>
                        {% endif %}
                        
        			{% endif  %}
        			{% if panorama['wppl_fichier']|length %}
            			<div class="row blue bottom-line">
                        	<div class="col-sm-12 col-md-1 text-uppercase"></div>
                        	<div class="col-sm-12 col-md-2 text-uppercase text-left"><span class="form-col-label label-description">Fichier chargé</span></div>
                        	<div class="col-sm-12 col-md-10 text-left"><span class="form-col-fields label-description">
                        	{% if context=="admin" %}
                        	<a href="{{ path('declaration_admin_media_download', {'id': panorama['wppl_fichier']})}}">{{ panorama['wppl_fichier_name'] }}</a>
                        	{% else %}
                        	{{ panorama['wppl_fichier_name'] }}
                        	{% endif %}
                        	</span></div>
                        </div>
        			{% endif  %}
        			
        			
        			
                    <div class="row contained blue bottom-line pt-3">
                    	<div class="col-sm-12 col-md-7 nopadding  text-uppercase"><span class="form-col-label  label-description" style="">Souhaitez-vous recevoir votre facture via chorus pro ?</span></div>
                    	<div class="col-sm-12 col-md-5 nopadding">{% if panorama['wppl_is_chorus_pro'] =="1" %}Oui{% else %}Non{% endif %}</div>
                    </div>
                    
					{% if context!="pdf" or  panorama['wppl_is_chorus_pro'] =="1" %}
                    <div class="row contained blue chorus_pro_bloc_validation bottom-line">
                    	<div class="form-col-label  col-sm-12 col-md-2 nopadding  text-uppercase" style=""><span class="label-description">N° de siret/ridet</span></div>
                    	<div class="form-col-fields col-sm-12 col-md-10 nopadding">{{ panorama['wppl_siret'] }}</div>
                    </div>
                    <div class="row contained blue chorus_pro_bloc_validation bottom-line">
                    	<div class="form-col-label  col-sm-12 col-md-2 nopadding  text-uppercase" style=""><span class="label-description">Code service</span></div>
                    	<div class="form-col-fields col-sm-12 col-md-10 nopadding">{{ panorama['wppl_service_code'] }}</div>
                    </div>
					{% endif %}

                    <div class="row contained blue pt-3 bottom-line">
                    	<div class="col-sm-12 col-md-9 nopadding  text-uppercase" style=""><span class="form-col-label  label-description" style="">Un bon de commande / engagement doit-il figurer sur la facture ?</span></div>
                    	<div class="col-sm-12 col-md-2 nopadding">{% if panorama['wppl_has_order'] =="1" %}Oui{% else %}Non{% endif %}</div>
                    </div> 
                    {% if context!="pdf" or  panorama['wppl_is_chorus_pro'] =="1" %}       			
        			<div class="row contained blue chorus_pro_bloc_validation bottom-line">
                    	<div class="form-col-label  col-sm-12 col-md-5 nopadding  text-uppercase" style=""><span class="label-description">N° de bon de commande / Engagement</span></div>
                    	<div class="form-col-fields col-sm-12 col-md-7 nopadding">{{ panorama['wppl_order_number'] }}</div>
                    </div>
        			{% endif %}
        			
        			
        			
        			
        			<div class="dotted-line contained mt-4"></div>
        		
        		</div>
		{% endfor %}
	{% endif %}	
	
	
	
	
{% elseif  i.typeObjet() == "abo_press_livres"%}	

        


        {% set abo_titre=0 %}
        {% set abo_site=0 %}
        {% set abo_livre=0 %}
        
        {% for items in db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_publications'] %}
            {% if items['wabopType']=='titre' %}{% set abo_titre=abo_titre+1 %}{% endif %}
            {% if items['wabopType']=='site' %}{% set abo_site=abo_titre+1 %}{% endif %}
            {% if items['wabopType']=='livre' %}{% set abo_livre=abo_titre+1 %}{% endif %}
        {% endfor %}
        
        {% if abo_titre or  abo_site %}
        <div class="row label  abo-press-livres contained">
           <span class="title text-uppercase">Abonnements presse</span>
        </div>
        {% endif %}
        
        
        {% if abo_titre  %}
            <div class="row blue file-row  contained">
                 <div class="col-sm-12 col-md-12 nopadding  text-uppercase"><span class="form-col-label label-description label-panorama-press font-weight-bold pdf-bold" style="">TITRES DE PRESSE</span></div>
            </div>
        
             {% for titre in db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_publications'] %}
                {% if titre['wabopType']=='titre' %}
                
                <div class="row blue contained  ">
                <div class="form-col-fields col-sm-12 col-md-12  nopadding mb-2"><span class="label-description">TITRE : </span>{{ titre['wabopTitre'] }}</div>
                 </div>
                <div class="row blue contained bottom-line ">
                	<div class="form-col-fields col-sm-12 col-md-6  nopadding mb-2"><span class="label-description">NOMBRE D’ABONNEMENTS : </span>{{ titre['wabopNombre'] }}</div>
                </div>

         
                 {% endif %}
             {% endfor %}
        {% endif %}                                                	
        {% if abo_site%}
            <div class="row blue file-row  contained">
                 <div class="col-sm-12 col-md-12 nopadding  text-uppercase"><span class="form-col-label label-description label-panorama-press font-weight-bold pdf-bold" style="">SITES DE PRESSE</span></div>
            </div>      
             {% for titre in db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_publications'] %}
                {% if titre['wabopType']=='site' %}
                <div class="row blue contained  ">
                <div class="form-col-fields col-sm-12 col-md-12  nopadding mb-2"><span class="label-description">TITRE : </span>{{ titre['wabopTitre'] }}</div>
                 </div>
                <div class="row blue contained bottom-line ">
                	<div class="form-col-fields col-sm-12 col-md-6  nopadding mb-2"><span class="label-description">NOMBRE D’ABONNEMENTS : </span>{{ titre['wabopNombre'] }}</div>
                </div>
         
                 {% endif %}
             {% endfor %}
        {% endif %}  

        {% if abo_livre %}
        
        <div class="row label abo-press-livres  contained">
           <span class="title text-uppercase">Livres</span>
        </div>
            {% for titre in db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_publications'] %}
                {% if titre['wabopType']=='livre' %}
                <div class="row blue contained ">
                	<div class="form-col-fields col-sm-12 col-md-6  nopadding"><span class="label-description">TITRE LIVRE : </span>{{ titre['wabopTitre'] }}</div>
                	<div class="form-col-fields col-sm-12 col-md-6  nopadding"><span class="label-description">NOMBRE D’ACHATS : </span>{{ titre['wabopNombre'] }}</div>
                	
                </div>
                <div class="row blue contained bottom-line ">
                	<div class="form-col-fields col-sm-12 col-md-6  nopadding"><span class="label-description">AUTEUR : </span>{{ titre['wabopAuteur'] }}</div>
                	<div class="form-col-fields col-sm-12 col-md-6  nopadding"><span class="label-description">EDITEUR : </span>{{ titre['wabopEditeur'] }}</div>
                </div>
                
              	{% endif %}
                {% endfor %}
        
        {% endif  %}
        
    {% if abo_titre or  abo_site or abo_livre %}
   {% if context=="admin" %}
             <div class="row blue ">
            	<div class="col-sm-12 col-md-1 text-uppercase"></div>
            	<div class="col-sm-12 col-md-10 text-uppercase text-center"><a href="{{ path('declaration_admin_abo_presse_livre_download', {'wde_declar': i.wde_declar}) }}">Télécharger les titres de presse</a></div>
            	<div class="col-sm-12 col-md-1 text-uppercase"></div>
        	</div>
            {% endif %}
    {% endif %}    
		{% if db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_fichier']|length %}
		<div class="row blue bottom-line contained">
        	<div class="col-sm-12 col-md-2 text-uppercase text-left"><span class="form-col-label label-description">Fichier chargé</span></div>
        	<div class="col-sm-12 col-md-10 text-left"><span class="form-col-fields label-description">
        	{% if context=="admin" %}
        	<a href="{{ path('declaration_admin_media_download', {'id': db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_fichier']})}}">{{ db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_fichier_name'] }}</a>
        	{% else %}
        	{{ db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_fichier_name'] }}
        	{% endif %}
        	</span></div>
        </div>
	{% endif  %}
                    
		

{% elseif  i.typeObjet() == "abo_press"%}	
 
        {% set abo_titre=0 %}
        {% set abo_site=0 %}
        {% set abo_livre=0 %}
        
        {% for items in db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_publications'] %}
            {% if items['wabopType']=='titre' %}{% set abo_titre=abo_titre+1 %}{% endif %}
            {% if items['wabopType']=='site' %}{% set abo_site=abo_titre+1 %}{% endif %}
            {% if items['wabopType']=='livre' %}{% set abo_livre=abo_titre+1 %}{% endif %}
        {% endfor %}
        
        {% if abo_titre or  abo_site %}
        <div class="row label  abo-press-livres contained">
           <span class="title text-uppercase">Abonnements presse</span>
        </div>
        {% endif %}
        
        
        {% if abo_titre  %}
            <div class="row blue file-row  contained">
                 <div class="col-sm-12 col-md-12 nopadding  text-uppercase"><span class="form-col-label label-description label-panorama-press font-weight-bold pdf-bold" style="">TITRES DE PRESSE</span></div>
            </div>
             {% for titre in db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_publications'] %}
                {% if titre['wabopType']=='titre' %}

                
                <div class="row blue contained  ">
                <div class="form-col-fields col-sm-12 col-md-12  nopadding mb-2"><span class="label-description">TITRE : </span>{{ titre['wabopTitre'] }}</div>
                 </div>
                <div class="row blue contained bottom-line ">
                	<div class="form-col-fields col-sm-12 col-md-6  nopadding mb-2"><span class="label-description">NOMBRE D’ABONNEMENTS : </span>{{ titre['wabopNombre'] }}</div>
                </div>
                
         
                 {% endif %}
             {% endfor %}
        {% endif %}                                                	
        {% if abo_site%}
            <div class="row blue file-row  contained">
                 <div class="col-sm-12 col-md-12 nopadding  text-uppercase"><span class="form-col-label label-description label-panorama-press font-weight-bold pdf-bold" style="">SITES DE PRESSE</span></div>
            </div>      
             {% for titre in db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_publications'] %}
                {% if titre['wabopType']=='site' %}
                <div class="row blue contained  ">
                <div class="form-col-fields col-sm-12 col-md-12  nopadding mb-2"><span class="label-description">TITRE : </span>{{ titre['wabopTitre'] }}</div>
                 </div>
                <div class="row blue contained bottom-line ">
                	<div class="form-col-fields col-sm-12 col-md-6  nopadding mb-2"><span class="label-description">NOMBRE D’ABONNEMENTS : </span>{{ titre['wabopNombre'] }}</div>
                </div>
         
                 {% endif %}
             {% endfor %}
        {% endif %}  

       
    {% if abo_titre or  abo_site  %}
        {% if context=="admin" %}
             <div class="row blue ">
            	<div class="col-sm-12 col-md-1 text-uppercase"></div>
            	<div class="col-sm-12 col-md-10 text-uppercase text-center"><a href="{{ path('declaration_admin_abo_presse_download', {'wde_declar': i.wde_declar}) }}">Télécharger les titres de presse</a></div>
            	<div class="col-sm-12 col-md-1 text-uppercase"></div>
        	</div>
            {% endif %}
    {% endif %}    
    
		{% if db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_fichier']|length %}
		<div class="row blue bottom-line contained">
        	<div class="col-sm-12 col-md-2 text-uppercase text-left"><span class="form-col-label label-description">Fichier chargé</span></div>
        	<div class="col-sm-12 col-md-10 text-left"><span class="form-col-fields label-description">
        	{% if context=="admin" %}
        	<a href="{{ path('declaration_admin_media_download', {'id': db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_fichier']})}}">{{ db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_fichier_name'] }}</a>
        	{% else %}
        	{{ db_data_conf[declaration_conf_index]['abo_press_livres']['wabo_fichier_name'] }}
        	{% endif %}
        	</span></div>
        </div>
	{% endif  %}
                    
{% elseif  i.typeObjet() == "file_upload"%}			
     {% set file_params=db_data_conf[declaration_conf_index]['file_upload'][i.getSynchroField()] %}
     <div class="row blue bottom-line contained">
        	<div class="col-sm-12 col-md-2 text-uppercase text-left"><span class="form-col-label label-description">Fichier chargé</span></div>
        	<div class="col-sm-12 col-md-10 text-left"><span class="form-col-fields label-description">
        	
        	{% if db_data_conf[declaration_conf_index] %}
            	{% if context=="admin" and file_params['file_upload_id']|length%}
            		<a href="{{ path('declaration_admin_media_download', {'id': file_params['file_upload_id'] })}}">{{ file_params['file_upload_fichier_name'] }}</a>
            	{% else %}
            	    {{ file_params['file_upload_fichier_name'] }}
            	{% endif %}
        	
        	{% endif %}
        	</span></div>
        </div>
{% elseif  i.typeObjet() == "prestataire_veille_media"%}
        <div class="row contained blue bottom-line">
        	<div class="col-sm-12 col-md-6 nopadding  text-uppercase">
        		<span class="form-col-label  label-description font-weight-bold pdf-bold mt-4" style="">Avez-vous un prestataire de veille media ?</span>
        	</div>
        	<div class="col-sm-12 col-md-6 nopadding">
        	    {% if db_data_conf[declaration_conf_index]['wprestataire']['wpresta_prestataire'] =="1" %} {{ db_data_conf[declaration_conf_index]['wprestataire']['wpresta_prestataire_label'] }}
        	    {% if  db_data_conf[declaration_conf_index]['wprestataire']['wpresta_prestataire_label2'] |length%}, 
        	    {{ db_data_conf[declaration_conf_index]['wprestataire']['wpresta_prestataire_label2'] }}
        	    {% endif %}
        	    
        	    {% else %}Non{% endif %}
        	</div>
        </div>
{% elseif  i.typeObjet() == "accordion_options"%}  

    {% if db_data_conf[declaration_conf_index][i.typeObjetConf.accordion_synchro_field_1] > 0 %}
        {% if i.typeObjetConf.accordion_value_label_col is defined %}
        	{% set grid_label_size = i.typeObjetConf.accordion_value_label_col %}
        	{% set grid_value_size = 12 - i.typeObjetConf.accordion_value_label_col %}
        {% else %}
        	{% set grid_label_size = 2 %}
        	{% set grid_value_size = 10 %}
        {% endif %}
        
        <div class="row sublabel  contained">
        	<span class="title text-uppercase font-size-14">{{ i.label()|raw}}</span>
        </div>
        <div class="row blue contained bottom-line">
        	<div class="col-sm-12 col-md-{{ grid_label_size|replace({'.': '-'}) }} nopadding  text-uppercase"><span class="form-col-label label-description" style="">{{ i.typeObjetConf.accordion_value_label|raw|replace({"*": ""})|raw }}</span></div>
        	<div class="col-sm-12 col-md-{{ grid_value_size|replace({'.': '-'}) }} nopadding  text-uppercase">{{ db_data_conf[declaration_conf_index][i.typeObjetConf.accordion_synchro_field_1] }}</div>
        </div>	
        <div class="row contained bottom-line">
            <div class="col-sm-12 col-md-5-5 nopadding  text-uppercase font-weight-bold" style="">
            	<span class="form-col-label  label-description " style="">{{ i.typeObjetConf.accordion_option_title }}</span>
            </div>
            <div class="col-sm-12 col-md-6-5 nopadding  text-uppercase font-size-12" style="">
            	<span class="form-col-fields label-description " style="">
            	{% if db_data_conf[declaration_conf_index][i.typeObjetConf.accordion_synchro_field_2] == 1 %}
            	    {{ i.typeObjetConf.accordion_option1_label|raw|filtreCrochet|raw }}
            	{% else %}
            	    {{ i.typeObjetConf.accordion_option2_label|raw|filtreCrochet|raw }}
            	{% endif %}
            	</span>
            </div>
        </div> 
    
    {% endif %}
{% elseif  i.typeObjet() == "relation_publique"%} 
<div class="row blue">

        </div>
<div  class="contained">
    {% for rp in db_data_conf[declaration_conf_index]['relation_publique'] %}
    {% set rp_index = loop.index - 1 %}
    <div class="relation_publique mt-2">
       <div class="row bottom-line">
        	<div class="col-sm-12 col-md-1-5 nopadding  text-uppercase"><span class="form-col-label label-description label-panorama-press font-weight-bold" style="">CLIENT {{ rp_index +1 }}</span></div>
        	<div class="col-sm-12 col-md-10-5 nopadding ">{{ rp['wrp_label'] }}</div>
        </div>
        
        <div class="">
        {% if context!="pdf" or rp['wrp_adresse']|trim|length %}
			 <div class="row bottom-line">
			 	<div class="col-sm-12 col-md-2 nopadding text-uppercase"><span class="form-col-label">Adresse</span></div>
        		<div class="col-sm-12 col-md-10 nopadding">{{ rp['wrp_adresse'] }}</div>
			 </div>
		{% endif %}
		{% if context!="pdf" or rp['wrp_cp']|trim|length or rp['wrp_ville']|trim|length %}
			 <div class="row bottom-line">
			 	<div class="col-sm-12 col-md-2 nopadding text-uppercase"><span class="form-col-label">Code postal</span></div>
        		<div class="col-sm-12 col-md-3-5 nopadding">{{ rp['wrp_cp'] }}</div>
			 	<div class="col-sm-12 col-md-1 nopadding text-uppercase text-center"><span class="form-col-label">Ville</span></div>
        		<div class="col-sm-12 col-md-5-5 nopadding">{{ rp['wrp_ville'] }}</div>
			 </div>
		{% endif %}
			  <div class="row bottom-line">
			 	<div class="col-sm-12 col-md-3-5 nopadding text-uppercase"><span class="form-col-label font-weight-bold">Volume d'articles fourni</span></div>
        		<div class="col-sm-12 col-md-2 nopadding">{{ rp['wrp_volume'] }}</div>
			 </div>
			 
		</div>
		<div class="dotted-line contained"></div>
    </div>
    
    {% endfor %}
</div>

{% if context=="admin" %}
         <div class="row blue ">
        	<div class="col-sm-12 col-md-1 text-uppercase"></div>
        	<div class="col-sm-12 col-md-10 text-uppercase text-center"><a href="{{ path('declaration_admin_relation_publique_download', {'wde_declar': i.wde_declar})}}">Télécharger la liste des relations publiques</a></div>
        	<div class="col-sm-12 col-md-1 text-uppercase"></div>
    	</div>
{% endif %}


{% elseif  i.typeObjet() == "cma_btp"%} 

{% if i.typeObjetConf.cma_btp_label_size is defined %}
    {% set cma_btp_grid_label = i.typeObjetConf.cma_btp_label_size %}
    {% set cma_btp_grid_form = 12-i.typeObjetConf.cma_btp_label_size %}
{% else %}    
    {% set cma_btp_grid_label = 1 %}
    {% set cma_btp_grid_form = 11 %}
{% endif %}

<div class="row blue">

        </div>
<div  class="contained">
    {% for rp in db_data_conf[declaration_conf_index]['cma_btp'] %}
    <div class="relation_publique mt-2">
       <div class="row bottom-line">
        	<div class="col-sm-12 col-md-{{ cma_btp_grid_label|replace({'.': '-'}) }} nopadding  text-uppercase"><span class="form-col-label label-description label-panorama-press font-weight-bold" style="">{% if i.typeObjetConf.cma_btp_label is defined %}{{ i.typeObjetConf.cma_btp_label }}{% else %}SITE{% endif %}</span></div>
        	<div class="col-sm-12 col-md-{{ cma_btp_grid_form|replace({'.': '-'}) }} nopadding ">{{ rp['wrp_label'] }}</div>
        </div>
        
        <div class="">
        {% if context!="pdf" or rp['wrp_adresse']|trim|length %}
			 <div class="row bottom-line">
			 	<div class="col-sm-12 col-md-2 nopadding text-uppercase"><span class="form-col-label">Adresse</span></div>
        		<div class="col-sm-12 col-md-10 nopadding">{{ rp['wrp_adresse'] }}</div>
			 </div>
		{% endif %}
		{% if context!="pdf" or rp['wrp_telephone']|trim|length or rp['wrp_email']|trim|length %}
			 <div class="row bottom-line">
			 	<div class="col-sm-12 col-md-2 nopadding text-uppercase"><span class="form-col-label">Téléphone</span></div>
        		<div class="col-sm-12 col-md-3-5 nopadding">{{ rp['wrp_telephone'] }}</div>
			 	<div class="col-sm-12 col-md-1 nopadding text-uppercase text-center"><span class="form-col-label">Email</span></div>
        		<div class="col-sm-12 col-md-5-5 nopadding">{{ rp['wrp_email'] }}</div>
			 </div>
		{% endif %}
			 
			 
		</div>
		<div class="dotted-line contained"></div>
    </div>
    
    {% endfor %}
</div>

{% if context=="admin" %}
         <div class="row blue ">
        	<div class="col-sm-12 col-md-1 text-uppercase"></div>
        	<div class="col-sm-12 col-md-10 text-uppercase text-center"><a href="{{ path('declaration_admin_cma_btp_download', {'wde_declar': i.wde_declar})}}">Télécharger la liste des sites</a></div>
        	<div class="col-sm-12 col-md-1 text-uppercase"></div>
    	</div>
{% endif %}

{% elseif i.typeObjet() in ['copie_ext_web_reseau'] %}

    {% for copie_ext in db_data_conf[declaration_conf_index]['wcpextw'] %}
        {% if  copie_ext['wcpextPublication'] | length >0 %}
            <div class="row blue contained bottom-line">
                <div class="form-col-label col-sm-12 col-md-6  nopadding  text-uppercase" style=""><span class="label-description ">TITRE DE LA PUBLICATION DONT EST ISSU L'ARTICLE</div>
                <div class="form-col-fields col-sm-12 col-md-6  nopadding">{{ copie_ext['wcpextPublication'] }}</div>
            </div>
                <div class="row blue contained bottom-line">
                <div class="form-col-label col-sm-12 col-md-6  nopadding  text-uppercase" style=""><span class="label-description ">TITRE DE L'ARTICLE</div>
                <div class="form-col-fields col-sm-12 col-md-6  nopadding">{{ copie_ext['wcpextTitre'] }}</div>
            </div>
                <div class="row blue contained bottom-line">
                <div class="form-col-label col-sm-12 col-md-6  nopadding  text-uppercase" style=""><span class="label-description ">AUTEUR(S) DE L'ARTICLE</div>
                <div class="form-col-fields col-sm-12 col-md-6  nopadding">{{ copie_ext['wcpextAuteur'] }}</div>
            </div>
                <div class="row blue contained bottom-line">
                <div class="form-col-label col-sm-12 col-md-6  nopadding  text-uppercase" style=""><span class="label-description ">DATE DE PARUTION DE L'ARTICLE</div>
                <div class="form-col-fields col-sm-12 col-md-6  nopadding">{{ copie_ext['wcpextParution'] }}</div>
            </div>
            
            <div class="row blue contained bottom-line">
                <div class="form-col-label col-sm-12 col-md-6  nopadding  text-uppercase" style=""><span class="label-description ">DATE DE MISE EN LIGNE DE LA COPIE DE L'ARTICLE</div>
                <div class="form-col-fields col-sm-12 col-md-6  nopadding">{{ copie_ext['wcpextDateMel'] }}</div>
            </div>
            
            <div class="row sub-title contained text-uppercase "></div>
             <div class="row blue contained bottom-line">
             	<div class="form-col-label col-sm-12 col-md-12  nopadding  text-uppercase">SITES, PLATEFORMES, ET/OU RÉSEAUX SOCIAUX SUR LESQUELS L'ARTICLE EST MIS EN LIGNE</div>
             </div>
                {% for publications in copie_ext['wcpextMel'] %}
                {% set publication_mel_index = loop.index - 1 %}
                    <div class="row blue contained bottom-line">
                    	<div class="orm-col-fields col-sm-12 col-md-6-5  nopadding">{{ publications['wcpextmelMel'] }}</div>
                	</div>
                {% endfor %}
	
                <div class="dotted-line contained mt-4"></div>
        {% endif %}
    {% endfor %}
    
{% elseif i.typeObjet() in ['copie_ext_cible'] %}

    {% for copie_ext in db_data_conf[declaration_conf_index]['wcpextc'] %}
        {% if  copie_ext['wcpextPublication'] | length >0 %}
            <div class="row blue contained bottom-line">
                <div class="form-col-label col-sm-12 col-md-6  nopadding  text-uppercase" style=""><span class="label-description ">TITRE DE LA PUBLICATION DONT EST ISSU L'ARTICLE </div>
                <div class="form-col-fields col-sm-12 col-md-6  nopadding">{{ copie_ext['wcpextPublication'] }}</div>
            </div>
            <div class="row blue contained bottom-line">
                <div class="form-col-label col-sm-12 col-md-5-5  nopadding  text-uppercase" style=""><span class="label-description ">TITRE DE L'ARTICLE</div>
                <div class="form-col-fields col-sm-12 col-md-6-5  nopadding">{{ copie_ext['wcpextTitre'] }}</div>
            </div>
             <div class="row blue contained bottom-line">
                <div class="form-col-label col-sm-12 col-md-5-5  nopadding  text-uppercase" style=""><span class="label-description ">AUTEUR(S) DE L'ARTICLE</div>
                <div class="form-col-fields col-sm-12 col-md-6-5  nopadding">{{ copie_ext['wcpextAuteur'] }}</div>
            </div>
             <div class="row blue contained bottom-line">
                <div class="form-col-label col-sm-12 col-md-5-5  nopadding  text-uppercase" style=""><span class="label-description ">DATE DE PARUTION DE L'ARTICLE</div>
                <div class="form-col-fields col-sm-12 col-md-6-5  nopadding">{{ copie_ext['wcpextParution'] }}</div>
            </div>
             <div class="row blue contained bottom-line">
                <div class="form-col-label col-sm-12 col-md-5-5  nopadding  text-uppercase" style=""><span class="label-description ">NOMBRE DE DESTINATAIRE DE VEILLE MEDIA</div>
                <div class="form-col-fields col-sm-12 col-md-6-5  nopadding">{{ copie_ext['wcpextDestinataires'] }}</div>
            </div>
            <div class="dotted-line contained mt-4"></div>
		{% endif %}
    {% endfor %}

    

{% elseif i.typeObjet() in ['rgpd'] %}
<div class="row blue contained">
    <div class="col-sm-12 col-md-12  nopadding rgpd" style=""><br><br>
    {% if db_data_conf[declaration_conf_index][i.synchroField()]==1 %}
		{{ i.typeObjetConf.rgpd_text_oui }}
    {% else %}
		{{ i.typeObjetConf.rgpd_text_non }}
    {% endif %}
    
    </div>
</div>


{% elseif  i.typeObjet() in ['radio'] %}    
{% set field_value='list_value_'~db_data_conf[declaration_conf_index][i.synchroField()] %}
{% set val = i.typeObjetConf[field_value]|split('|') %}         	
	<div class="text-uppercase">
    	{% set splited_val = val[1]|raw|split(':') %}
    	{% if splited_val|length>1 %}
    	    <span class="label-description ">{{ splited_val[0]|raw }} : </span>{{ splited_val[1]|raw }}
    	{% else %}
    	    {{ val[1]|raw }}
    	{% endif %}
 	</div>                             	

{% elseif  i.typeObjet() in ['list'] %}   

    {% set field_val=db_data_conf[declaration_conf_index][i.synchroField()] %}
    
    {% if i.typeObjetConf.list_value_1 is defined %}
        {% set val = i.typeObjetConf.list_value_1|split('|') %}
        {% if val[0]==field_val %}{{ val[1] }}{% endif %}
    {% endif %}
    
    {% if i.typeObjetConf.list_value_2 is defined %}
        {% set val = i.typeObjetConf.list_value_2|split('|') %}
        {% if val[0]==field_val %}{{ val[1] }}{% endif %}
    {% endif %}
    
    {% if i.typeObjetConf.list_value_3 is defined %}
        {% set val = i.typeObjetConf.list_value_3|split('|') %}
        {% if val[0]==field_val %}{{ val[1] }}{% endif %}
    {% endif %}
    
    {% if i.typeObjetConf.list_value_4 is defined %}
        {% set val = i.typeObjetConf.list_value_4|split('|') %}
        {% if val[0]==field_val %}{{ val[1] }}{% endif %}
    {% endif %}
    
    {% if i.typeObjetConf.list_value_5 is defined %}
        {% set val = i.typeObjetConf.list_value_5|split('|') %}
        {% if val[0]==field_val %}{{ val[1] }}{% endif %}
    {% endif %}
    
    {% if i.typeObjetConf.list_value_6 is defined %}
        {% set val = i.typeObjetConf.list_value_6|split('|') %}
        {% if val[0]==field_val %}{{ val[1] }}{% endif %}
    {% endif %}
    
    {% if i.typeObjetConf.list_value_7 is defined %}
        {% set val = i.typeObjetConf.list_value_7|split('|') %}
        {% if val[0]==field_val %}{{ val[1] }}{% endif %}
    {% endif %}
    
    {% if i.typeObjetConf.list_value_8 is defined %}
        {% set val = i.typeObjetConf.list_value_8|split('|') %}
        {% if val[0]==field_val %}{{ val[1] }}{% endif %}
    {% endif %}
    
    {% if i.typeObjetConf.list_value_9 is defined %}
        {% set val = i.typeObjetConf.list_value_9|split('|') %}
        {% if val[0]==field_val %}{{ val[1] }}{% endif %}
    {% endif %}
    
    {% if i.typeObjetConf.list_value_10 is defined %}
        {% set val = i.typeObjetConf.list_value_10|split('|') %}
        {% if val[0]==field_val %}{{ val[1] }}{% endif %}
    {% endif %}

{% elseif  i.typeObjet() in ['civilite'] %}      
    {% if db_data_conf[declaration_conf_index][i.synchroField()] in  ['Madame', 'Monsieur'] %}
        {{ db_data_conf[declaration_conf_index][i.synchroField()] }}
    {% endif %}

{% else %}
    {% if db_data_conf[declaration_conf_index][i.synchroField()] is defined %}
        {{ db_data_conf[declaration_conf_index][i.synchroField()] }}
    {% else %}

    {% endif %}

{% endif %}