<style>
.page-logged .introduction-ouvert .row .col-compos-button.ico-collapse a::before{
	transform: rotate(0deg) !important;
}

.page-logged .introduction-ouvert .row .col-compos-button.ico-expend a::before{
	transform: rotate(90deg) !important;
}


/*.tooltip-inner{ 
    color:#721c24; 
    font-weight:400;  
    background-color:#f8d7da;
}
.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before { 
	border-right-color: #721c24;
}*/
</style>

<script>
var pano_pub_line='';
pano_pub_line+='<div class="row blue panorama_press_numerique_publications_line">';
pano_pub_line+='	<div class="col-sm-12 col-md-6 "><input type="text" placeholder="SAISIR UNE PUBLICATION" class="wpplp_label" name="" value="" oninvalid="this.setCustomValidity(\'Merci de renseigner le nom de la publication ou de supprimer la ligne\')"  oninput="this.setCustomValidity(\'\')" required></div>';
pano_pub_line+='	<div class="col-sm-12 col-md-4 padding-right-15  padding-left-15"><input class="wpplp_total"  placeholder="NOMBRE D&acute;ARTICLES" type="number" name="" min="1" max="999999" value="" style="" required oninvalid="this.setCustomValidity(\'Merci de renseigner le nombre d’articles ou de supprimer la ligne\')"  oninput="this.setCustomValidity(\'\')"></div>';
pano_pub_line+='	<div class="col-sm-12 col-md-1  nopadding text-uppercase ">';
pano_pub_line+='		<div class="col-compos-button nopadding add-compos float-left" style="margin-left: 0px !important;"><a href="javascript:void(0);" onclick="add_pano_pub(this)" style="font-size:18" title="Rajouter une publication">+</a></div>';
pano_pub_line+='		<div class="float-left nopadding col-compos-button-separator" style="">&nbsp;</div>';
pano_pub_line+='		<div class="col-compos-button nopadding float-left" style="margin-left: 0px !important;"><a href="javascript:void(0);" onclick="remove_pano_pub(this)" title="Supprimer la publication">X</a></div>';

pano_pub_line+='	</div>';
pano_pub_line+='</div>';

jQuery(document).ready(function() {

    $( "#form_submit" ).click(function() {
    	
    	if($('input:invalid, select:invalid').length)
    	{
    		if($('input:invalid, select:invalid').eq(0).closest('.panorama_press_numerique').find('.panorama_content').is(":hidden")){
    			
    			$('input:invalid, select:invalid').eq(0).closest('.panorama_press_numerique').find('.ico-expend-collapse a')[0].scrollIntoView(); 
    			$('input:invalid, select:invalid').eq(0).closest('.panorama_press_numerique').find('.ico-expend-collapse a').trigger('click');
    			$('input:invalid, select:invalid').eq(0).focus();
   			 	setTimeout(function(){ $( "#form_submit" ).trigger('click'); }, 800);
    			
    		}
    
    	}
    });

	$('form').submit(function( event ) {
		$('#panorama-error').html("");
		if($('.panorama_press_numerique').length==0){
			
			$('#panorama-error').html("Vous devez reseigner au moins un panorama.");
			event.preventDefault();
		}

		
		$('.panorama_press_numerique').each(function(){
			var data_index=$(this).data('index');
			$(this).find('.wppl_label').attr('name','wpanoramapress_liste['+data_index+'][wppl_label]');
			$(this).find('.wppl_periode').attr('name','wpanoramapress_liste['+data_index+'][wppl_periode]');
			$(this).find('.wppl_total').attr('name','wpanoramapress_liste['+data_index+'][wppl_total]');
			$(this).find('.wppl_fichier').attr('name','wpanoramapress_liste['+data_index+'][wppl_fichier]');
			$(this).find('.wppl_fichier_media_key').attr('name','wpanoramapress_liste['+data_index+'][wppl_fichier_media_key]');
			$(this).find('.wppl_fichier_name').attr('name','wpanoramapress_liste['+data_index+'][wppl_fichier_name]');
			$(this).find('.panorama_press_numerique_publications > div').each(function(i,k){
				$(this).find('.wpplp_label').attr('name','wpanoramapress_liste['+data_index+'][publication]['+i+'][wpplp_label]');
				$(this).find('.wpplp_total').attr('name','wpanoramapress_liste['+data_index+'][publication]['+i+'][wpplp_total]');


			});
		})
		
		$('.panorama_press_numerique').each(function(){
			var data_index=$(this).data('index');
			
			if($(this).find('.panorama_press_numerique_publications > div').length < 1 && ( $(this).find('.wppl_fichier').val().length < 1 && $(this).find('.wppl_fichier_media_key').val().length <1))
			{
				$(this).find('.error').html("Vous devez renseigner au moins une publication ou charger un fichier Excel pour ce panorama.");
				event.preventDefault();
			}
		});
		

		
	});
});

</script>

<div class="row label panorama-title contained {{ class }}" style="padding-left: 0px;" ><span class="title text-uppercase">{{ i.label()|raw}}</span></div>
<div class="row label-desc panorama-subtitle contained"><span style="text-transform: none;">Vous pouvez, <b>soit saisir</b> la liste de vo(s)tre panorama(s) de presse, <b>soit charger un fichier Excel</b> contenant ces informations</span></div>
<div id="container_panorama_press_numerique" class="">
    {% for panorama in db_data['panorama_press']['wpanoramapress_liste'] %}
    {% set panorama_index = loop.index - 1 %}
    <div class="panorama_press_numerique multi-index" data-index="{{ panorama_index }}">
        <div class="row blue contained">
        	<div class="col-sm-12 col-md-3 nopadding  text-uppercase"><span class="form-col-label label-description label-panorama-press font-weight-bold" style="">Panorama de presse {{ panorama_index +1 }}</span></div>
        	<div class="col-sm-12 col-md-8 nopadding "><input type="text" class="wppl_label field-large" placeholder="NOM DU PANORAMA" name="" value="{{ panorama['wppl_label'] }}" oninput="this.setCustomValidity('')"></div>
        	<div class="col-sm-12 col-md-1 nopadding ">
        		<div class="col-compos-button nopadding ico-expend-collapse ico-collapse ico-expend float-left"><a href="javascript:void(0);" onclick="toggle_panorama(this)">X</a></div>
        		<!--  <div class="col-compos-button nopadding float-left"><a href="javascript:void(0);" onclick="delete_panorama_press(this)">X</a></div>
        		<div class="col-compos-button nopadding add-panorama float-left"><a href="javascript:void(0);" onclick="add_panorama_press()">+</a></div>
        		-->	
        	</div>
        </div>
		<div class="panorama_content">
		<div  class="contained">
    		
            <div class="row blue ">
            	<div class="col-sm-12 col-md-6-5 nopadding  text-uppercase"><span class="form-col-label label-description" style="">PÉRIODICITÉ DU PANORAMA*</span></div>
            	<div class="col-sm-12 col-md-4-5 nopadding  text-uppercase">
            	<select class="wppl_periode" name="" style="width: unset" oninput="this.setCustomValidity('')"  required>
            		<option value="" {% if panorama['wppl_periode']==''%}selected="selected"{% endif %} ></option>
                	<option value="Annuel" {% if panorama['wppl_periode']=='Annuel'%}selected="selected"{% endif %} >Annuel</option>
                	<option value="Bihebdomadaire" {% if panorama['wppl_periode']=='Bihebdomadaire'%}selected="selected"{% endif %} >Bihebdomadaire</option>
                	<option value="Bimensuel" {% if panorama['wppl_periode']=='Bimensuel'%}selected="selected"{% endif %} >Bimensuel</option>
                	<option value="Bimestriel" {% if panorama['wppl_periode']=='Bimestriel'%}selected="selected"{% endif %} >Bimestriel</option>
                	<option value="Biquotidien" {% if panorama['wppl_periode']=='Biquotidien'%}selected="selected"{% endif %} >Biquotidien</option>
                	<option value="Hebdomadaire" {% if panorama['wppl_periode']=='Hebdomadaire'%}selected="selected"{% endif %} >Hebdomadaire</option>
                	<option value="Mensuel" {% if panorama['wppl_periode']=='Mensuel'%}selected="selected"{% endif %} >Mensuel</option>
                	<option value="Quotidien" {% if panorama['wppl_periode']=='Quotidien'%}selected="selected"{% endif %} >Quotidien</option>
                	<option value="Semestriel" {% if panorama['wppl_periode']=='Semestriel'%}selected="selected"{% endif %} >Semestriel</option>
                	<option value="Trimestriel" {% if panorama['wppl_periode']=='Trimestriel'%}selected="selected"{% endif %} >Trimestriel</option>
            	</select>
            	</div>
            </div>		
    		
		
		
            <div class="row blue ">
            	<div class="col-sm-12 col-md-6-5 nopadding  text-uppercase"><span class="form-col-label label-description" style="">Nombre de postes destinataires du panorama*</span></div>
            	<div class="col-sm-12 col-md-4-5 nopadding  text-uppercase"><input type="number" class="wppl_total"  name="" value="{{ panorama['wppl_total'] }}" style="width: unset" oninput="this.setCustomValidity('')"  oninvalid="this.setCustomValidity(\'Veuillez saisir le nombre de postes\')" title="Veuillez saisir le nombre de postes" required></div>
            </div>		
		</div >
        	<div class="row abo-press-blue contained">

                <div class="row blue panorama-publication-title" style="padding-bottom: 0px !important;">
                   <span class="title text-uppercase font-weight-bold"><span style="color:red;padding:0 !important;margin:0 !important;background-color:unset !important;">Charger votre fichier excel</span> contenant les publications utilisées dans ce panorama de presse</span>
                </div>

            	<div class="row   abo-press">
                	<div class="col-sm-12 col-md-12 text-left file-upload-notice font-site-13 ">
                    	(Vous pouvez également <a href="{{ path('declaration_media_download', {'id': 1061})}}" target="_Blank" class="font-weight-bold">télécharger un modèle de fichier  excel</a> et le renvoyer complété) 
                    </div>
                </div>
                
                    <div class="row   abo-press">

                	<div class="col-sm-12 col-md-10  label-description-container text-uppercase text-left"><span class="form-col-label label-description font-weight-bold text-uppercase">Chargez votre fichier</span>
            		<label for="file-upload-{{ panorama_index }}" class="custom-file-upload text-uppercase">Parcourir <i class="custom-file-upload-icon"></i></label>
                    <input class="wppl_fichier" name="wppl_fichier" id="file-upload-{{ panorama_index }}" type="file" placeholder=".xl, .xls" accept=".xlsx, .xls, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel, application/vnd.msexcel, text/csv" />
            		<label class="custom-file-upload-filename"><input class="custom-file-upload-filename-text" type="text" placeholder=".xl .xls" style="background-color:#f6f9fb !important" disabled=disabled> <a class="delete_file" href="javascript:;" onclick="reset_file_upload(this)" alt="Supprimer ce fichier"></a></label>
            		
            		<input type="hidden" name="wppl_fichier_media_key" class="wppl_fichier_media_key" value="{{ panorama['wppl_fichier_media_key'] }}">
                        		<input type="hidden" name="wppl_fichier_name" class="wppl_fichier_name" value="{{ panorama['wppl_fichier_name'] }}">
            		
            		</div>
            		<div class="col-sm-12 col-md-2  text-uppercase"></div>
            	</div>	
    
                <div class="row blue panorama-publication-title title-ou-sasir-publication" style="padding-bottom: 0px !important;">
                   <span class="title text-uppercase font-weight-bold"><span style="color:red;padding:0 !important;margin:0 !important;background-color:unset !important;">ou Saisir</span> LA LISTE DES PUBLICATIONS ET LE NOMBRE D’ARTICLES  UTILISÉS DANS CE PANORAMA DE PRESSE</span>
                </div>
                
                <div class="panorama_press_numerique_publications">
                {% for publications in panorama['wpanoramapress_liste_publication'] %}
                {% set publication_index = loop.index - 1 %}
                    <div class="row blue panorama_press_numerique_publications_line">
                    	<div class="col-sm-12 col-md-6 "><input type="text" placeholder="SAISIR UNE PUBLICATION" class="wpplp_label" name="" value="{{ publications['wpplp_label'] }}" oninvalid="this.setCustomValidity('Merci de renseigner le nom de la publication ou de supprimer la ligne')"  oninput="this.setCustomValidity('')" required></div>
                    	<div class="col-sm-12 col-md-4 padding-right-15  padding-left-15"><input class="wpplp_total"  placeholder="NOMBRE D&acute;ARTICLES" type="number" name="" min="1" max="999999" value="{{ publications['wpplp_total'] }}" style="" required oninvalid="this.setCustomValidity('Merci de renseigner le nombre d’articles ou de supprimer la ligne')"  oninput="this.setCustomValidity('')"></div>
                    	<div class="col-sm-12 col-md-1  nopadding text-uppercase ">
                    		<div class="col-compos-button nopadding add-compos float-left" style="margin-left: 0px !important;"><a href="javascript:void(0);" onclick="add_pano_pub(this)" style="font-size:18" title="Rajouter uns publication">+</a></div>
                    		<div class="float-left nopadding col-compos-button-separator" style="">&nbsp;</div>
                    	    <div class="col-compos-button nopadding float-left" style="margin-left: 0px !important;"><a href="javascript:void(0);" onclick="remove_pano_pub(this)" title="Supprimer la publication">X</a></div>
                    	</div>
                	</div>
                {% endfor %}
                </div>		
    	
	        <div class="row row-add-first-publication-press" style="{% if  panorama['wppl_fichier_media_key'] |length %}display: none;{% endif %} width: 100%">
            	<div class="col-sm-12 col-md-3"></div>
            	<div class="col-sm-12 col-md-4  text-uppercase text-center">
            	<a class="add_first_publication_press" href="javascript:void(0);" onclick="add_first_pano_pub(this)">Ajouter une publication</a>
            	</div>
        	</div>	
			<ul class="error" style="font-weight: bold; color: red"></ul>
			
			
			
			<!-- <div class=" dotted-line  col-sm-12 col-md-12"></div> -->
    

	
		</div>

	 	
	 	
        <div class="col-sm-12 col-md-12  text-uppercase text-center contained block_add_delete" {% if panorama_index==0 %} style="display:none"{% endif %}>
        		<a class="button_add_delete" href="javascript:void(0);" onclick="delete_panorama_press(this)">Supprimer le panorama de presse</a>
            	<!--  <a class="button_add_delete" href="javascript:void(0);" onclick="add_panorama_press()">Ajouter un panorama de presse</a>-->
        </div>
		
		</div>
		
		<div class="dotted-line contained"  style="clear: both;"></div>
    </div>      
    
           
        
    {% endfor %}
</div>

<div class="row blue contained" id="default_panorama_press_button" style="">
		<div class="col-sm-12 col-md-12   text-uppercase text-right buttons-panoramas">
		<a class="button_add_delete" href="javascript:void(0);" onclick="add_panorama_press()" style="margin-top: -15px;" >Ajouter un panorama de presse</a>
		</div>
		<ul class="error" id="panorama-error" style="font-weight: bold; color: red"></ul>
</div>


