<script>

{% if i.typeObjetConf.group_sum_id is defined %}
	var data_group_sum_id="{{ i.typeObjetConf.group_sum_id }}";
{% else %}
	var data_group_sum_id="";
{% endif %}

{% if i.typeObjetConf.group_sum_msg is defined %}
var data_group_sum_msg="{{ i.typeObjetConf.group_sum_msg }}";
{% else %}
var data_group_sum_msg="";
{% endif %}


{% if i.typeObjetConf.wcompos_label_effectif is defined %}
var wcompos_label_effectif="{{ i.typeObjetConf.wcompos_label_effectif|escape }}";
{% else %}
var data_group_sum_msg="INTITULÉ DE LA COMPOSANTE";
{% endif %}

{% if i.typeObjetConf.wcompos_label_lien_ajouter is defined %}
var wcompos_label_lien_ajouter="{{ i.typeObjetConf.wcompos_label_lien_ajouter|escape }}";
{% else %}
var wcompos_label_lien_ajouter="EFFECTIF";
{% endif %}

{% if i.typeObjetConf.wcompos_msg_err_vide is defined %}
var wcompos_msg_err_vide="{{ i.typeObjetConf.wcompos_msg_err_vide|escape }}";
{% else %}
var wcompos_msg_err_vide="Merci de renseigner l'intitulé de la composante ou de supprimer la ligne.";
{% endif %}

{% if i.typeObjetConf.wcompos_label_lien_ajouter is defined %}
var wcompos_label_lien_ajouter="{{ i.typeObjetConf.wcompos_label_lien_ajouter|escape }}";
{% else %}
var wcompos_label_lien_ajouter="Ajouter une composante";
{% endif %}

{% if i.typeObjetConf.wcompos_label_lien_supprimer is defined %}
var wcompos_label_lien_supprimer="{{ i.typeObjetConf.wcompos_label_lien_supprimer|escape }}";
{% else %}
var wcompos_label_lien_ajouter="Supprimer une composante";
{% endif %}



var compo_line ='<div class="row nopadding compos-line wcompos contained">';
	//compo_line+='<div class="col-sm-12 col-compos-title nopadding">INTITULE DE LA COMPOSANTE</div>';
	compo_line+='<div class="col-sm-10 col-md-10 col-compos-title-field nopadding"><input type="text" name="compos_title[]"></div>';
	//compo_line+='<div class="col-sm-12 col-compos-num nopadding">EFFECTIF</div>';
	compo_line+='<div class="col-sm-2 col-md-2 col-compos-num-field nopadding"><input type="number" data-group-sum-id="'+data_group_sum_id+'" data-group-sum-msg="'+data_group_sum_msg+'" class="'+data_group_sum_id+'" min="1" max="99999" name="compos_num[]" onkeyup="calculatecompos();" onkeydown="calculatecompos();" oninput="calculatecompos();" ></div>';
	compo_line+='<div class="col-sm-12 col-compos-button nopadding add-compos"><a href="javascript:void(0);" onClick="addcompos(this)" style="font-size:18" title="{% if i.typeObjetConf.wcompos_label_lien_ajouter is defined %}{{ i.typeObjetConf.wcompos_label_lien_ajouter|escape }}{% else %}Ajouter une composante{% endif %}">+</a></div>';
	compo_line+='<div class="col-sm-12 col-compos-button nopadding"><a href="javascript:void(0);" onClick="removecompos(this)" title="{% if i.typeObjetConf.wcompos_label_lien_supprimer is defined %}{{ i.typeObjetConf.wcompos_label_lien_supprimer|escape }}{% else %}Supprimer une composante{% endif %}">X</a></div>';
	compo_line+='</div>';

var compos_data = [
	{% for compos in db_data.wcompos %}
	  {
		    label: "{{ compos.wcp_libelle|escape }}",
		    value: {{ compos.wcp_effectif|escape }}
	  },
    {% endfor %}
	];
</script>
{% if form.children[i.synchroField()].vars.value is defined %}
    {% set form_value =  form.children[i.synchroField()].vars.value %}
{% else %}
    {% set form_value =  '' %}
{% endif %}
<div class="row nopadding compos-line contained">
	<div class="col-sm-10 col-md-10 col-compos-title nopadding text-center font-weight-bold">{% if i.typeObjetConf.wcompos_label_intitule is defined %}{{ i.typeObjetConf.wcompos_label_intitule|escape }}{% else %}INTITULÉ DE LA COMPOSANTE{% endif %}</div>
	<div class="col-sm-2 col-md-2 col-compos-num nopadding text-left font-weight-bold">{% if i.typeObjetConf.wcompos_label_effectif is defined %}{{ i.typeObjetConf.wcompos_label_effectif|escape }}{% else %}EFFECTIF{% endif %}</div>
</div>
<div class="compos contained">
</div>
<ul class="error contained compos-errors" id="err-compos_num" style="font-weight: bold;color:red;margin-bottom: 10px;" id="err-{{ i.synchroField() }}"></ul>

<div class="row compos-total-bloc contained">
		<div class="col-sm-10 col-md-11 nopadding text-right">Total effectifs</div>
		<div class="col-sm-2 col-md-1 nopadding text-center compos-total-bloc-total">0</div>
</div>
<div class="row compos-add-bloc contained">
		<div class="col-sm-12 col-md-12 nopadding text-right"> <a href="javascript:void(0);" onClick="addfirstcompos()">{% if i.typeObjetConf.wcompos_label_lien_ajouter is defined %}{{ i.typeObjetConf.wcompos_label_lien_ajouter|escape }}{% else %}Ajouter une composante{% endif %}
</a></div>
</div>

