{% if form.children[i.synchroField()].vars.value is defined %}
    {% set form_value =  form.children[i.synchroField()].vars.value %}
{% else %}
    {% set form_value =  '' %}
{% endif %}


{% if i.typeObjet()=="list" %}
    <select  name="{{ i.synchroField() }}" {%if i.mandatory == true %}required="required"{% endif %} 
    {% if i.typeObjetConf.alert_change_list is defined %}data-alert-change-list-msg="{{ i.typeObjetConf.alert_change_list|escape }}" class="alert_change_list"{% endif %}
    >
    {% if i.typeObjetConf.list_value_1 is defined %}{% set val = i.typeObjetConf.list_value_1|split('|') %}<option value="{{ val[0] }}" {% if form_value==val[0]%}selected="selected"{% endif %} >{{ val[1] }}</option>{% endif %}
    {% if i.typeObjetConf.list_value_2 is defined %}{% set val = i.typeObjetConf.list_value_2|split('|') %}<option value="{{ val[0] }}" {% if form_value==val[0]%}selected="selected"{% endif %} >{{ val[1] }}</option>{% endif %}
    {% if i.typeObjetConf.list_value_3 is defined %}{% set val = i.typeObjetConf.list_value_3|split('|') %}<option value="{{ val[0] }}" {% if form_value==val[0]%}selected="selected"{% endif %} >{{ val[1] }}</option>{% endif %}
    {% if i.typeObjetConf.list_value_4 is defined %}{% set val = i.typeObjetConf.list_value_4|split('|') %}<option value="{{ val[0] }}" {% if form_value==val[0]%}selected="selected"{% endif %} >{{ val[1] }}</option>{% endif %}
    {% if i.typeObjetConf.list_value_5 is defined %}{% set val = i.typeObjetConf.list_value_5|split('|') %}<option value="{{ val[0] }}" {% if form_value==val[0]%}selected="selected"{% endif %} >{{ val[1] }}</option>{% endif %}
    {% if i.typeObjetConf.list_value_6 is defined %}{% set val = i.typeObjetConf.list_value_6|split('|') %}<option value="{{ val[0] }}" {% if form_value==val[0]%}selected="selected"{% endif %} >{{ val[1] }}</option>{% endif %}
    {% if i.typeObjetConf.list_value_7 is defined %}{% set val = i.typeObjetConf.list_value_7|split('|') %}<option value="{{ val[0] }}" {% if form_value==val[0]%}selected="selected"{% endif %} >{{ val[1] }}</option>{% endif %}
    {% if i.typeObjetConf.list_value_8 is defined %}{% set val = i.typeObjetConf.list_value_8|split('|') %}<option value="{{ val[0] }}" {% if form_value==val[0]%}selected="selected"{% endif %} >{{ val[1] }}</option>{% endif %}
    {% if i.typeObjetConf.list_value_9 is defined %}{% set val = i.typeObjetConf.list_value_9|split('|') %}<option value="{{ val[0] }}" {% if form_value==val[0]%}selected="selected"{% endif %} >{{ val[1] }}</option>{% endif %}
    {% if i.typeObjetConf.list_value_10 is defined %}{% set val = i.typeObjetConf.list_value_10|split('|') %}<option value="{{ val[0] }}" {% if form_value==val[0]%}selected="selected"{% endif %} >{{ val[1] }}</option>{% endif %}
    	</select>
{% endif %}

{% if i.typeObjet() in [
'text_max_25', "text_max_50", 'text_max_40', 'text_max_80', 'text_max_100', 
'num_2', "num_3", 'num_4', 'num_5','num_6','num_7',
'zipcode',
'email',
'telephone',

'title_num_5',
'title_num_6',
'title_num_7',

'subtitle_num_5',
'subtitle_num_7',

] and i.typeObjetConf.contact_is_contact is not defined and i.typeObjetConf.adress_is_adress is not defined%}
{% set class_str='' %}
	<input 
		autocomplete="nofill"
		{% if i.typeObjet() in ['text_max_25', "text_max_50", 'text_max_40', 'text_max_80', 'text_max_100', 'zipcode'] %}
			type="text"  
		{% endif %}
		{% if i.typeObjet() in ['num_2', "num_3", 'num_4', 'num_5','num_6','num_7',  'title_num_5','title_num_6','title_num_7','subtitle_num_5','subtitle_num_7'
		] %}
			type="number"  
			
			{% set keypress='' %}
			{% if i.typeObjetConf.field_inf_ou_egale is defined %}
        		{% set keypress='$("input[name='~i.typeObjetConf.field_inf_ou_egale~']").attr("max", this.value);' %}
            {% endif %}
			
			onkeypress='return event.charCode >= 48 && event.charCode <= 57;'
			
			onkeyup='{{ keypress |raw}}'
			onload='{{ keypress |raw}}'
		{% endif %}
		{% if i.typeObjet() in ['email'] %}
			type="email"  
			pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,6}$"
			oninvalid="this.setCustomValidity('Merci de saisir une adresse mail valide')"
            title='Merci de saisir une adresse mail valide'
		{% endif %}
        {% if i.typeObjet() in ['telephone'] %}
            {% set class_str = class_str ~  "intl-tel-input"  %}
           type="tel"  placeholder="ex :+33 06 01 02 03 04" {# pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$" #}
           {#
            06 01 02 03 04
            0601020304
            06-01-02-03-04
            06.01.02.03.04
            
           pattern="0[1-6789]([-. ]?[0-9]{2}){4}" 
           _pattern="^((\+\d{1,3})([0-9 ]{2,20}))"
_pattern="^((\+\d{1,3})([0-9 ]{2,20}))|((\+\d{1,3}))"
           #}
           {%if i.mandatory == true %}
			minlength="9"
			pattern=".{9,}"
		{% else %}
		     
		{% endif %}
           
           oninvalid="this.setCustomValidity('Merci de saisir l\'indicatif et un numéro de téléphone valide ')"
           title="Merci de saisir l'indicatif et un numéro de téléphone valide"

         {% endif %}

      
                        
		name="{{ i.synchroField() }}"  

		
		
		{%if i.mandatory == true %}
			required="required"
		    {% set min_num=1 %}
		{% else %}
		    {% set min_num=0 %}
		{% endif %}
		
		{% if i.typeObjet()=='text_max_25' %} maxlength="25" {% endif %}
        {% if i.typeObjet()=='text_max_25' %} maxlength="25" {% endif %}
        {% if i.typeObjet()=='text_max_50' %} maxlength="50" {% endif %}
        {% if i.typeObjet()=='text_max_40' %} maxlength="40" {% endif %}
        {% if i.typeObjet()=='text_max_80' %} maxlength="80" {% endif %}
        {% if i.typeObjet()=='text_max_100' %} maxlength="100" {% endif %}
        {% if i.typeObjet()=='zipcode' %} maxlength="5" {% endif %}
        
        {% if i.typeObjet()=='num_2' %} min="{{ min_num }}" 
        max="99" 
        maxlength="2" 
        {% endif %}
        {% if i.typeObjet()=='num_3' %} min="{{ min_num }}" max="999" oninput="if (this.value.length > 3){this.value = this.value.slice(0,3);}setCustomValidity('')" {% endif %}
        {% if i.typeObjet()=='num_4' %} min="{{ min_num }}" max="9999" oninput="if (this.value.length > 4){this.value = this.value.slice(0,4);}setCustomValidity('')" {% endif %}
        {% if i.typeObjet()=='num_5' %} min="{{ min_num }}" max="99999" oninput="if (this.value.length > 5){this.value = this.value.slice(0,5);}setCustomValidity('')" {% endif %}
        {% if i.typeObjet()=='num_6' %} min="{{ min_num }}" max="999999" oninput="if (this.value.length > 6){this.value = this.value.slice(0,6);}setCustomValidity('')"{% endif %}
        {% if i.typeObjet()=='num_7' %} min="{{ min_num }}" max="9999999" oninput="if (this.value.length > 7){this.value = this.value.slice(0,7);}setCustomValidity('')" {% endif %}
        {% if i.typeObjet()=='zipcode' %}  
        oninvalid="this.setCustomValidity('Merci de saisir un code postal valide')" 
        title='Merci de saisir un code postal valide'
        pattern="[0-9 A-Za-z]{5,8}"  
        maxlength="8"
        {% endif %}
        
        
        value="{{ form_value }}"
        
        {# group_sum_ definition. The sum of the groups should be equal to the sum_id value #}
        
        {% if i.typeObjetConf.group_sum_id is defined %}
        	data-group-sum-id="{{ i.typeObjetConf.group_sum_id }}"
            {% set class_str = class_str ~ i.typeObjetConf.group_sum_id|replace({',':''})  %}
        {% endif %}
        {% if i.typeObjetConf.group_sum_ref is defined %}
        	data-group-sum-ref="{{ i.typeObjetConf.group_sum_ref }}"
        {% endif %}
         {% if i.typeObjetConf.group_sum_msg is defined %}
        	data-group-sum-msg="{{ i.typeObjetConf.group_sum_msg }}"
        {% endif %}
        {% if i.typeObjetConf.group_sum_alert_msg is defined %}
        	data-group-sum-alert-msg="{{ i.typeObjetConf.group_sum_alert_msg|escape }}"
        {% endif %}


		{# group_1_not_empty definition. One item of the group should be not empty #}
        {% if i.typeObjetConf.group_1_not_empty_id is defined %}
        	data-group-1-not-empty-id="{{ i.typeObjetConf.group_1_not_empty_id }}"
        	{% set class_str = class_str ~ " " ~ i.typeObjetConf.group_1_not_empty_id  %}
        {% endif %}
        
        {% if i.typeObjetConf.group_1_not_empty_message is defined %}
        	data-group-1-not-empty-message="{{ i.typeObjetConf.group_1_not_empty_message|escape }}"
        {% endif %}
        
        {% if i.typeObjetConf.group_1_not_empty_alert is defined %}
        	data-group-1-not-empty-alert="{{ i.typeObjetConf.group_1_not_empty_alert|escape }}"
        {% endif %}
        
        
        {% if i.typeObjetConf.not_empty_alert is defined %}
        	data-not-empty-alert="{{ i.typeObjetConf.not_empty_alert|escape }}"
        {% endif %}
        
        
        
        {# group_if_one_then_all_id definition. One item of the group should be not empty #}
        {% if i.typeObjetConf.group_if_one_then_all_id is defined %}
        	data-group-if-one-then-all-id="{{ i.typeObjetConf.group_if_one_then_all_id }}"
        	{% set class_str = class_str ~ " " ~ i.typeObjetConf.group_if_one_then_all_id|replace({',':''})  %}
        {% endif %}
        
        {% if i.typeObjetConf.group_if_one_then_all_message is defined %}
        	data-group-if-one-then-all-message="{{ i.typeObjetConf.group_if_one_then_all_message|escape }}"
        {% endif %}
        
        {% if i.typeObjetConf.group_if_one_then_all_target is defined %}
        	data-group-if-one-then-all-target="{{ i.typeObjetConf.group_if_one_then_all_target }}"
        {% endif %}
        
        
        class="{{ class_str }}" 
        
        {% if i.typeObjetConf.not_empty_message is defined %}
        oninvalid="this.setCustomValidity('{{ i.typeObjetConf.not_empty_message|escape('js') }}')"
        {% endif %}
        oninput="setCustomValidity('')"
        
		>

{# i.typeObjetConf.contact_field_id #}
{% endif %}

{% if i.typeObjetConf.contact_is_contact is defined and i.typeObjetConf.contact_is_contact==1 %}

	{% if i.typeObjetConf.contact_field_id is defined %}
    	{% if db_data[i.typeObjetConf.contact_field_id] is defined %}
            {% set contact_field_id_value =  db_data[i.typeObjetConf.contact_field_id] %}
        {% else %}
            {% set contact_field_id_value =  '' %}
        {% endif %}
        
        {% set contact_field_id_value_question = contact_field_id_value ~ '_question' %}
	
	    {% if db_data[contact_field_id_value ~ '_question'] is defined %}
            {% set contact_field_id_question_value =  db_data[contact_field_id_value ~ '_question'] %}
        {% else %}
            {% set contact_field_id_question_value =  '' %}
        {% endif %}
        
	
		<input type="hidden" name="{{ i.typeObjetConf.contact_field_id }}" id="{{ i.typeObjetConf.contact_field_id }}" value="{{ contact_field_id_value }}">
		<input type="hidden" name="{{ i.typeObjetConf.contact_field_id }}_question" id="{{ i.typeObjetConf.contact_field_id }}_question" value="{{ contact_field_id_question_value }}">
	 {% endif %}
	
	{% if i.typeObjetConf.adress_field_id is defined %}
    	{% if db_data[i.typeObjetConf.adress_field_id] is defined %}
            {% set adress_field_id_value =  db_data[i.typeObjetConf.adress_field_id] %}
        {% else %}
            {% set adress_field_id_value =  '' %}
        {% endif %}
        
        {% set adress_field_id_value_question = adress_field_id_value ~ '_question' %}
	
	    {% if db_data[adress_field_id_value ~ '_question'] is defined %}
            {% set adress_field_id_question_value =  db_data[adress_field_id_value ~ '_question'] %}
        {% else %}
            {% set adress_field_id_question_value =  '' %}
        {% endif %}
        
	
		<input type="hidden" name="{{ i.typeObjetConf.adress_field_id }}" id="{{ i.typeObjetConf.adress_field_id }}" value="{{ contact_field_id_value }}">
		<input type="hidden" name="{{ i.typeObjetConf.adress_field_id }}_question" id="{{ i.typeObjetConf.adress_field_id }}_question" value="{{ adress_field_id_question_value }}">
	 {% endif %}
   
 
   <select  name="{{ i.synchroField() }}" {%if i.mandatory == true %}required="required"{% endif %} 
       {% if i.typeObjetConf.not_empty_message is defined %}
        oninvalid="this.setCustomValidity('{{ i.typeObjetConf.not_empty_message|escape('js') }}')"
    	oninput="this.setCustomValidity('')" 
    	{% endif %}
    	data-value="{{ form_value }}" 
    	data-original-value="{{ form_value }}" 
    	{% if i.typeObjetConf.contact_field_id is defined %}data-contact-field-name="{{ i.typeObjetConf.contact_field_id }}"{% endif %}
    	
    	value="{{ form_value }}"
    	maxlength="50"
    	
    	
    	{# group_sum_ definition. The sum of the groups should be equal to the sum_id value #}
        {% set class_str='' %}
        {% if i.typeObjetConf.group_sum_id is defined %}
        	data-group-sum-id="{{ i.typeObjetConf.group_sum_id }}"
            {% set class_str = class_str ~ i.typeObjetConf.group_sum_id|replace({',':''})  %}
        {% endif %}
        {% if i.typeObjetConf.group_sum_ref is defined %}
        	data-group-sum-ref="{{ i.typeObjetConf.group_sum_ref }}"
        {% endif %}
         {% if i.typeObjetConf.group_sum_msg is defined %}
        	data-group-sum-msg="{{ i.typeObjetConf.group_sum_msg }}"
        {% endif %}
        {% if i.typeObjetConf.group_sum_alert_msg is defined %}
        	data-group-sum-alert-msg="{{ i.typeObjetConf.group_sum_alert_msg|escape }}"
        {% endif %}


		{# group_1_not_empty definition. One item of the group should be not empty #}
        {% if i.typeObjetConf.group_1_not_empty_id is defined %}
        	data-group-1-not-empty-id="{{ i.typeObjetConf.group_1_not_empty_id }}"
        	{% set class_str = class_str ~ " " ~ i.typeObjetConf.group_1_not_empty_id|replace({',':''})  %}
        {% endif %}
        
        {% if i.typeObjetConf.group_1_not_empty_message is defined %}
        	data-group-1-not-empty-message="{{ i.typeObjetConf.group_1_not_empty_message|escape }}"
        {% endif %}
        
        {% if i.typeObjetConf.group_1_not_empty_alert is defined %}
        	data-group-1-not-empty-alert="{{ i.typeObjetConf.group_1_not_empty_alert|escape }}"
        {% endif %}
        
        
        {% if i.typeObjetConf.not_empty_alert is defined %}
        	data-not-empty-alert="{{ i.typeObjetConf.not_empty_alert|escape }}"
        {% endif %}
        
         {# group_if_one_then_all_id definition. One item of the group should be not empty #}
        {% if i.typeObjetConf.group_if_one_then_all_id is defined %}
        	data-group-if-one-then-all-id="{{ i.typeObjetConf.group_if_one_then_all_id }}"
        	{% set class_str = class_str ~ " " ~ i.typeObjetConf.group_if_one_then_all_id|replace({',':''})  %}
        {% endif %}
        
        {% if i.typeObjetConf.group_if_one_then_all_message is defined %}
        	data-group-if-one-then-all-message="{{ i.typeObjetConf.group_if_one_then_all_message|escape }}"
        {% endif %}
        
         {% if i.typeObjetConf.group_if_one_then_all_target is defined %}
        	data-group-if-one-then-all-target="{{ i.typeObjetConf.group_if_one_then_all_target }}"
        {% endif %}
   
   		data-type="contact"
   		data-field-civilite="{% if i.typeObjetConf.contact_field_civilite is defined%}{{ i.typeObjetConf.contact_field_civilite }}{% endif %}"
    	data-field-function="{% if i.typeObjetConf.contact_field_function is defined%}{{ i.typeObjetConf.contact_field_function }}{% endif %}"
    	data-field-tel="{% if i.typeObjetConf.contact_field_telephone is defined%}{{ i.typeObjetConf.contact_field_telephone }}{% endif %}"
    	data-field-fax="{% if i.typeObjetConf.contact_field_fax is defined%}{{ i.typeObjetConf.contact_field_fax }}{% endif %}"
    	data-field-email="{% if i.typeObjetConf.contact_field_email is defined%}{{ i.typeObjetConf.contact_field_email }}{% endif %}"
    	data-last-title="{% if last_title is defined%}{{ last_title|striptags}}{% endif %}"
    	
    	class="{{ class_str }}"
    	
    >
    {% for c in contacts %}
    	<option value="{{ c.getNomprenom() }}"   
    	data-id="{{ c.getPkContact() }}"
    	data-civilite="{{ c.getTitre() }}"
    	data-function="{{ c.getFonction() }}"
    	data-tel="{{ c.getTel1() }}"
    	data-fax="{{ c.getFax() }}"
    	data-email="{{ c.getEmail() }}"

    	>{{ c.getNomprenom() }}</option>
    {% endfor %}
     	</select>

			<span class="icon-contact"></span>
{% endif %}
    
{% if i.typeObjetConf.adress_is_adress is defined and i.typeObjetConf.adress_is_adress==1 %}
	
	
    {% if i.typeObjetConf.adress_field_id is defined %}
    	{% if db_data[i.typeObjetConf.adress_field_id] is defined %}
            {% set adress_field_id_value =  db_data[i.typeObjetConf.adress_field_id] %}
        {% else %}
            {% set adress_field_id_value =  '' %}
        {% endif %}
        
        {% set adress_field_id_value_question = adress_field_id_value ~ '_question' %}
	
	    {% if db_data[adress_field_id_value ~ '_question'] is defined %}
            {% set adress_field_id_question_value =  db_data[adress_field_id_value ~ '_question'] %}
        {% else %}
            {% set adress_field_id_question_value =  '' %}
        {% endif %}
        
        
	
		<input type="hidden" name="{{ i.typeObjetConf.adress_field_id }}" id="{{ i.typeObjetConf.adress_field_id }}" value="{{ db_data[i.typeObjetConf.adress_field_id] }}">
	 	<input type="hidden" name="{{ i.typeObjetConf.adress_field_id }}_question" id="{{ i.typeObjetConf.adress_field_id }}_question" value="{{ adress_field_id_question_value }}">
	{% endif %}
	
  
 
   <select  name="{{ i.synchroField() }}" {%if i.mandatory == true %}required="required"{% endif %} 
       {% if i.typeObjetConf.not_empty_message is defined %}
        oninvalid="this.setCustomValidity('{{ i.typeObjetConf.not_empty_message|escape('js') }}')"
    	oninput="this.setCustomValidity('')" 
    	{% endif %}
    	data-value="{{ form_value }}" 
    	data-original-value="{{ form_value }}" 
    	{% if i.typeObjetConf.adress_field_id is defined %}data-adress-field-name="{{ i.typeObjetConf.adress_field_id }}"{% endif %}
    	
    	value="{{ form_value }}"
    	maxlength="50"
    	
    	
    	{# group_sum_ definition. The sum of the groups should be equal to the sum_id value #}
        {% set class_str='' %}
        {% if i.typeObjetConf.group_sum_id is defined %}
        	data-group-sum-id="{{ i.typeObjetConf.group_sum_id }}"
            {% set class_str = class_str ~ i.typeObjetConf.group_sum_id|replace({',':''})  %}
        {% endif %}
        {% if i.typeObjetConf.group_sum_ref is defined %}
        	data-group-sum-ref="{{ i.typeObjetConf.group_sum_ref }}"
        {% endif %}
         {% if i.typeObjetConf.group_sum_msg is defined %}
        	data-group-sum-msg="{{ i.typeObjetConf.group_sum_msg }}"
        {% endif %}
        {% if i.typeObjetConf.group_sum_alert_msg is defined %}
        	data-group-sum-alert-msg="{{ i.typeObjetConf.group_sum_alert_msg|escape }}"
        {% endif %}


		{# group_1_not_empty definition. One item of the group should be not empty #}
        {% if i.typeObjetConf.group_1_not_empty_id is defined %}
        	data-group-1-not-empty-id="{{ i.typeObjetConf.group_1_not_empty_id }}"
        	{% set class_str = class_str ~ " " ~ i.typeObjetConf.group_1_not_empty_id|replace({',':''})  %}
        {% endif %}
        
        {% if i.typeObjetConf.group_1_not_empty_message is defined %}
        	data-group-1-not-empty-message="{{ i.typeObjetConf.group_1_not_empty_message|escape }}"
        {% endif %}
        
        {% if i.typeObjetConf.group_1_not_empty_alert is defined %}
        	data-group-1-not-empty-alert="{{ i.typeObjetConf.group_1_not_empty_alert|escape }}"
        {% endif %}
        
        
        {% if i.typeObjetConf.not_empty_alert is defined %}
        	data-not-empty-alert="{{ i.typeObjetConf.not_empty_alert|escape }}"
        {% endif %}
        
         {# group_if_one_then_all_id definition. One item of the group should be not empty #}
        {% if i.typeObjetConf.group_if_one_then_all_id is defined %}
        	data-group-if-one-then-all-id="{{ i.typeObjetConf.group_if_one_then_all_id }}"
        	{% set class_str = class_str ~ " " ~ i.typeObjetConf.group_if_one_then_all_id|replace({',':''})  %}
        {% endif %}
        
        {% if i.typeObjetConf.group_if_one_then_all_message is defined %}
        	data-group-if-one-then-all-message="{{ i.typeObjetConf.group_if_one_then_all_message|escape }}"
        {% endif %}
        
   
   		data-type="adresses"
   		data-field-intitule="{% if i.typeObjetConf.adress_field_intitule is defined%}{{ i.typeObjetConf.adress_field_intitule }}{% endif %}"
    	data-field-nom1="{% if i.typeObjetConf.adress_field_nom1 is defined%}{{ i.typeObjetConf.adress_field_nom1 }}{% endif %}"
    	data-field-nom2="{% if i.typeObjetConf.adress_field_nom2 is defined%}{{ i.typeObjetConf.adress_field_nom2 }}{% endif %}"
    	data-field-nom3="{% if i.typeObjetConf.adress_field_nom3 is defined%}{{ i.typeObjetConf.adress_field_nom3 }}{% endif %}"
    	data-field-adresse1="{% if i.typeObjetConf.adress_field_adresse1 is defined%}{{ i.typeObjetConf.adress_field_adresse1 }}{% endif %}"
    	data-field-adresse2="{% if i.typeObjetConf.adress_field_adresse2 is defined%}{{ i.typeObjetConf.adress_field_adresse2 }}{% endif %}"
    	data-field-adresse3="{% if i.typeObjetConf.adress_field_adresse3 is defined%}{{ i.typeObjetConf.adress_field_adresse3 }}{% endif %}"
    	data-field-code-postal="{% if i.typeObjetConf.adress_field_code_postal is defined%}{{ i.typeObjetConf.adress_field_code_postal }}{% endif %}"
    	data-field-ville="{% if i.typeObjetConf.adress_field_ville is defined%}{{ i.typeObjetConf.adress_field_ville }}{% endif %}"
    	data-field-web="{% if i.typeObjetConf.adress_field_web is defined%}{{ i.typeObjetConf.adress_field_web }}{% endif %}"
    	data-field-email="{% if i.typeObjetConf.adress_field_email is defined%}{{ i.typeObjetConf.adress_field_email }}{% endif %}"
    	data-field-tel="{% if i.typeObjetConf.adress_field_tel is defined%}{{ i.typeObjetConf.adress_field_tel }}{% endif %}"
    	data-field-fax="{% if i.typeObjetConf.adress_field_fax is defined%}{{ i.typeObjetConf.adress_field_fax }}{% endif %}"
    	
    	data-last-title="{% if last_title is defined%}{{ last_title|striptags}}{% endif %}"
    	
    	class="{{ class_str }}"
    	
    >
    {% for c in adresses %}
    	<option value="{{ c.getIntitule() }}"   
    	data-id="{{ c.getPksitegeo() }}"
    	data-intitule="{{ c.getIntitule() }}"
    	data-nom1="{{ c.getNom1() }}"
    	data-nom2="{{ c.getNom2() }}"
    	data-nom3="{{ c.getNom3() }}"
    	data-adresse1="{{ c.getAdresse1() }}"
    	data-adresse2="{{ c.getAdresse2() }}"
    	data-adresse3="{{ c.getAdresse3() }}"
    	data-code-postal="{{ c.getCodepostal() }}"
    	data-ville="{{ c.getVille() }}"
    	data-web="{{ c.getWeb() }}"
    	data-email="{{ c.getEmail() }}"
    	data-tel="{{ c.getTel() }}"
    	data-fax="{{ c.getFax() }}"
    	>{{ c.getNom1() }}</option>
    {% endfor %}
     	</select>

			<span class="icon-contact"></span>
{% endif %}    
    
    
    
    
    
    
    
    
    
{% if i.typeObjet()=="civilite" %}
    <div class="text-uppercase">
        <input type="radio" name="{{ i.synchroField() }}" id="{{ i.synchroField() }}_Madame" {% if form_value=="Madame" %}checked="checked"{% endif %} value="Madame" {%if i.mandatory == true %}required="required"{% endif %}
         {# group_if_one_then_all_id definition. One item of the group should be not empty #}
        {% if i.typeObjetConf.group_if_one_then_all_id is defined %}
        	data-group-if-one-then-all-id="{{ i.typeObjetConf.group_if_one_then_all_id }}"
        	
        {% endif %}
        
        {% if i.typeObjetConf.group_if_one_then_all_message is defined %}
        	data-group-if-one-then-all-message="{{ i.typeObjetConf.group_if_one_then_all_message|escape }}"
        {% endif %}
        
        
        ><label for="{{ i.synchroField() }}_Madame">Madame</label>
    </div>
    <div class="text-uppercase">
        <input type="radio" name="{{ i.synchroField() }}" id="{{ i.synchroField() }}_Monsieur" {% if form_value=="Monsieur" %}checked="checked"{% endif %} value="Monsieur" {%if i.mandatory == true %}required="required"{% endif %}
         {# group_if_one_then_all_id definition. One item of the group should be not empty #}
        {% if i.typeObjetConf.group_if_one_then_all_id is defined %}
        	data-group-if-one-then-all-id="{{ i.typeObjetConf.group_if_one_then_all_id }}"
        	 class="{{ i.typeObjetConf.group_if_one_then_all_id|replace({',':''}) }}"
        {% endif %}
        
        {% if i.typeObjetConf.group_if_one_then_all_message is defined %}
        	data-group-if-one-then-all-message="{{ i.typeObjetConf.group_if_one_then_all_message|escape }}"
        {% endif %}
        
       
        ><label for="{{ i.synchroField() }}_Monsieur">Monsieur</label>
    </div>
{% endif %}

{% if i.typeObjet()=="radio" %}
    {% if i.typeObjetConf.list_value_1 is defined %}{% set val = i.typeObjetConf.list_value_1|split('|') %}
	<div class="text-uppercase font-size-14 col-sm-12 col-md-12 nopadding">
    	<input type="radio" name="{{ i.synchroField() }}" id="{{ i.synchroField() }}_{{ val[0] }}" {% if form_value==val[0] %}checked="checked"{% endif %} value="{{ val[0] }}" {%if i.mandatory == true %}required="required"{% endif %}><label for="{{ i.synchroField() }}_{{ val[0] }}">{{ val[1]|raw }}</label>
 	</div>    
    {% endif %}
    {% if i.typeObjetConf.list_value_2 is defined %}{% set val = i.typeObjetConf.list_value_2|split('|') %}
	<div class="text-uppercase font-size-14 col-sm-12 col-md-12 nopadding">
    	<input type="radio" name="{{ i.synchroField() }}" id="{{ i.synchroField() }}_{{ val[0] }}" {% if form_value==val[0] %}checked="checked"{% endif %} value="{{ val[0] }}" {%if i.mandatory == true %}required="required"{% endif %}><label for="{{ i.synchroField() }}_{{ val[0] }}">{{ val[1]|raw }}</label>
 	</div>    
    {% endif %}
        {% if i.typeObjetConf.list_value_3 is defined %}{% set val = i.typeObjetConf.list_value_3|split('|') %}
	<div class="text-uppercase font-size-14 col-sm-12 col-md-12 nopadding">
    	<input type="radio" name="{{ i.synchroField() }}" id="{{ i.synchroField() }}_{{ val[0] }}" {% if form_value==val[0] %}checked="checked"{% endif %} value="{{ val[0] }}" {%if i.mandatory == true %}required="required"{% endif %}><label for="{{ i.synchroField() }}_{{ val[0] }}">{{ val[1]|raw }}</label>
 	</div>    
    {% endif %}
        {% if i.typeObjetConf.list_value_4 is defined %}{% set val = i.typeObjetConf.list_value_4|split('|') %}
	<div class="text-uppercase font-size-14 col-sm-12 col-md-12 nopadding">
    	<input type="radio" name="{{ i.synchroField() }}" id="{{ i.synchroField() }}_{{ val[0] }}" {% if form_value==val[0] %}checked="checked"{% endif %} value="{{ val[0] }}" {%if i.mandatory == true %}required="required"{% endif %}><label for="{{ i.synchroField() }}_{{ val[0] }}">{{ val[1]|raw }}</label>
 	</div>    
    {% endif %}
        {% if i.typeObjetConf.list_value_5 is defined %}{% set val = i.typeObjetConf.list_value_5|split('|') %}
	<div class="text-uppercase font-size-14 col-sm-12 col-md-12 nopadding">
    	<input type="radio" name="{{ i.synchroField() }}" id="{{ i.synchroField() }}_{{ val[0] }}" {% if form_value==val[0] %}checked="checked"{% endif %} value="{{ val[0] }}" {%if i.mandatory == true %}required="required"{% endif %}><label for="{{ i.synchroField() }}_{{ val[0] }}">{{ val[1]|raw }}</label>
 	</div>    
    {% endif %}
        {% if i.typeObjetConf.list_value_6 is defined %}{% set val = i.typeObjetConf.list_value_6|split('|') %}
	<div class="text-uppercase font-size-14 col-sm-12 col-md-12 nopadding">
    	<input type="radio" name="{{ i.synchroField() }}" id="{{ i.synchroField() }}_{{ val[0] }}" {% if form_value==val[0] %}checked="checked"{% endif %} value="{{ val[0] }}" {%if i.mandatory == true %}required="required"{% endif %}><label for="{{ i.synchroField() }}_{{ val[0] }}">{{ val[1]|raw }}</label>
 	</div>    
    {% endif %}
        {% if i.typeObjetConf.list_value_7 is defined %}{% set val = i.typeObjetConf.list_value_7|split('|') %}
	<div class="text-uppercase font-size-14 col-sm-12 col-md-12 nopadding">
    	<input type="radio" name="{{ i.synchroField() }}" id="{{ i.synchroField() }}_{{ val[0] }}" {% if form_value==val[0] %}checked="checked"{% endif %} value="{{ val[0] }}" {%if i.mandatory == true %}required="required"{% endif %}><label for="{{ i.synchroField() }}_{{ val[0] }}">{{ val[1]|raw }}</label>
 	</div>    
    {% endif %}
        {% if i.typeObjetConf.list_value_8 is defined %}{% set val = i.typeObjetConf.list_value_8|split('|') %}
	<div class="text-uppercase font-size-14 col-sm-12 col-md-12 nopadding">
    	<input type="radio" name="{{ i.synchroField() }}" id="{{ i.synchroField() }}_{{ val[0] }}" {% if form_value==val[0] %}checked="checked"{% endif %} value="{{ val[0] }}" {%if i.mandatory == true %}required="required"{% endif %}><label for="{{ i.synchroField() }}_{{ val[0] }}">{{ val[1]|raw }}</label>
 	</div>    
    {% endif %}
        {% if i.typeObjetConf.list_value_9 is defined %}{% set val = i.typeObjetConf.list_value_9|split('|') %}
	<div class="text-uppercase font-size-14 col-sm-12 col-md-12 nopadding">
    	<input type="radio" name="{{ i.synchroField() }}" id="{{ i.synchroField() }}_{{ val[0] }}" {% if form_value==val[0] %}checked="checked"{% endif %} value="{{ val[0] }}" {%if i.mandatory == true %}required="required"{% endif %}><label for="{{ i.synchroField() }}_{{ val[0] }}">{{ val[1]|raw }}</label>
 	</div>    
    {% endif %}
        {% if i.typeObjetConf.list_value_10 is defined %}{% set val = i.typeObjetConf.list_value_10|split('|') %}
	<div class="text-uppercase font-size-14 col-sm-12 col-md-12 nopadding">
    	<input type="radio" name="{{ i.synchroField() }}" id="{{ i.synchroField() }}_{{ val[0] }}" {% if form_value==val[0] %}checked="checked"{% endif %} value="{{ val[0] }}" {%if i.mandatory == true %}required="required"{% endif %}><label for="{{ i.synchroField() }}_{{ val[0] }}">{{ val[1]|raw }}</label>
 	</div>    
    {% endif %}



{% endif %}

{% if i.typeObjet() in ['checkbox'] %}
    {% if i.typeObjetConf.option_val_on is defined %}
        {% set option_value=i.typeObjetConf.option_val_on %}
    {% else %}
        {% set option_value="1" %}
    {% endif %}		
    <div style="display: inline-block;">
        <label for="{{ i.synchroField() }}">
            <input type="checkbox" name="{{ i.synchroField() }}" id="{{ i.synchroField() }}" {% if form_value==option_value %}checked="checked"{% endif %} value="{{ option_value }}" {%if i.mandatory == true %}required="required"{% endif %}
            {% set class_str='' %}
            {% if i.typeObjetConf.group_option_id is defined %}
            	data-group-option-id="{{ i.typeObjetConf.group_option_id }}"
            	{% set class_str = class_str ~ i.typeObjetConf.group_option_id  %}
            {% endif %}
            {% if i.typeObjetConf.group_option_msg is defined %}
            	data-group-option-msg="{{ i.typeObjetConf.group_option_msg|escape }}"
            {% endif %}
            
            {# group_1_not_empty definition. One item of the group should be not empty #}
            {% if i.typeObjetConf.group_1_not_empty_id is defined %}
            	data-group-1-not-empty-id="{{ i.typeObjetConf.group_1_not_empty_id }}"
            	{% set class_str = class_str ~ " " ~ i.typeObjetConf.group_1_not_empty_id  %}
            {% endif %}
            
            {% if i.typeObjetConf.group_1_not_empty_message is defined %}
            	data-group-1-not-empty-message="{{ i.typeObjetConf.group_1_not_empty_message|escape }}"
            {% endif %}
            
            {% if i.typeObjetConf.group_1_not_empty_alert is defined %}
            	data-group-1-not-empty-alert="{{ i.typeObjetConf.group_1_not_empty_alert|escape }}"
            {% endif %}
            
            
            {% if i.typeObjetConf.not_empty_alert is defined %}
            	data-not-empty-alert="{{ i.typeObjetConf.not_empty_alert|escape }}"
            {% endif %}
        
            
            class="{{ class_str }}"
            >{%if i.labelVisible == true %}{{ i.label()|raw }}{%if i.mandatory == true %}*{% endif %}{% endif %}</label>
            <ul class="error " style="" id="err-{{ i.synchroField() }}"></ul>
    </div>
{% endif %}

{% if i.typeObjet() in ['rgpd'] %}
{% set option_value=1 %}

<div class="rgpd-div">
	<label class="rgpd text-left" for="{{ i.synchroField() }}" style="">
	<input class="rgpd" type="checkbox" name="{{ i.synchroField() }}" id="{{ i.synchroField() }}" {% if form_value==1 %}checked="checked"{% endif %} value="1" {%if i.mandatory == true %}required="required"{% endif %}>
	
	{{ i.typeObjetConf.rgpd_text_form }} 
	
	{%if i.mandatory == true %}*{% endif %}
	</label>

</div>
{% endif %} 

