<script>

{% if i.typeObjetConf.group_sum_id is defined %}
	var data_group_sum_id="{{ i.typeObjetConf.group_sum_id }}";
{% else %}
	var data_group_sum_id="";
{% endif %}

{% if i.typeObjetConf.group_sum_msg is defined %}
var data_group_sum_msg="{{ i.typeObjetConf.group_sum_msg }}";
{% else %}
var data_group_sum_msg="";
{% endif %}



{% if i.typeObjetConf.not_empty_alert is defined %}
var compos_stage_not_empty_alert="{{ i.typeObjetConf.not_empty_alert|escape }}";
{% else %}
var compos_stage_not_empty_alert=false;
{% endif %}


{% if i.typeObjetConf.wcompos_label_lien_supprimer is defined %}
var wcompos_label_lien_supprimer="{{ i.typeObjetConf.wcompos_label_lien_supprimer|escape }}";
{% else %}
var wcompos_label_lien_supprimer="Supprimer";
{% endif %}



var compos_stages_line ='<div class="row  compos-line contained">';
compos_stages_line+='<div class="col-sm-12 col-md-12 nopadding">';
compos_stages_line+='  <div class="row " style="margin-bottom: 10px !important">';
compos_stages_line+='		<div class="col-sm-12 col-md-intitule-stage text-uppercase nopadding text-left">INTITULÉ DU STAGE</div>';
compos_stages_line+='		<div class="col-sm-12 col-md-intitule-stage-field nopadding text-left compos-title-field"><input type="text" name="compos_title[]"  ></div>';
compos_stages_line+='	</div>';
compos_stages_line+='	<div class="row "  style="margin-bottom: 10px !important">';
compos_stages_line+='		<div class="col-sm-12 col-md-stagiaire text-uppercase nopadding text-left">NOMBRE DE STAGIAIRES</div>';
compos_stages_line+='		<div class="col-sm-12 col-md-stagiaire-field nopadding text-left compos-stagiaire-field"><input type="number" class="group_compos_stages_stagiaires" data-group-sum-id="'+data_group_sum_id+'" data-group-sum-msg="'+data_group_sum_msg+'" class="'+data_group_sum_id+'" min="1" max="99999" name="compos_stagiaires[]" onkeyup="calculatecompos_stages();" onkeydown="calculatecompos_stages();" oninput="calculatecompos_stages();" ></div>';
compos_stages_line+='		<div class="col-sm-12 col-md-heures text-uppercase text-left">NOMBRE D\'HEURES STAGIAIRES</div>';
compos_stages_line+='		<div class="col-sm-12 col-md-heures-field  text-left compos-heures-field"><input type="number" class="group_compos_stages_heures" data-group-sum-id="'+data_group_sum_id+'" data-group-sum-msg="'+data_group_sum_msg+'" class="'+data_group_sum_id+'" min="1" max="99999" name="compos_heures[]" onkeyup="calculatecompos_stages();" onkeydown="calculatecompos_stages();" oninput="calculatecompos_stages();"></div>';
compos_stages_line+='		<div class="col-sm-12 col-md-add-compos nopadding text-left"><a href="javascript:void(0);" onClick="addcompos_stages(this)" style="font-size:18">+</a></div>';
compos_stages_line+='		<div class="col-sm-12 col-md-remove-compos nopadding text-left "><a href="javascript:void(0);" onClick="removecompos_stages(this)" title="'+wcompos_label_lien_supprimer+'">X</a></div>';
compos_stages_line+='	</div>';
compos_stages_line+='</div>';
compos_stages_line+='</div>';




var compos_stages_data = [
	{% for compos in db_data.wcompos %}
	  {
		    label: "{{ compos.wcp_libelle|escape }}",
		    effectif: {{ compos.wcp_effectif|escape }},
		    heures: {{ compos.wcp_heures|escape }}
	  },
    {% endfor %}
	];
</script>
{% if form.children[i.synchroField()].vars.value is defined %}
    {% set form_value =  form.children[i.synchroField()].vars.value %}
{% else %}
    {% set form_value =  '' %}
{% endif %}
<div class="compos-stages">





</div>
<ul class="error compos-stages-errors contained" style="font-weight: bold;color:red" id="err-{{ i.synchroField() }}"></ul>

<div class="row compos-total-bloc contained">
		<div class="col-sm-12 col-md-8 nopadding text-right text-uppercase"><strong>Total stagiaires</strong></div>
		<div class="col-sm-12 col-md-1 nopadding text-center compos-total-bloc-total-stagiaires compos-total-bloc-blue">0</div>
		<div class="col-sm-12 col-md-2 nopadding text-right text-uppercase"><strong>Total heures&nbsp;</strong></div>
		<div class="col-sm-12 col-md-1 nopadding text-center compos-total-bloc-total compos-total-bloc-blue">0</div>
</div>
<div class="row compos-add-bloc contained">
		<div class="col-sm-12 col-md-12 nopadding text-right text-uppercase"> <a href="javascript:void(0);" onClick="addfirstcompos_stages()">Ajouter un stage</a></div>
</div>